.key-link-wrapper .key-link {
  color: black;
  padding-top: 5px;
  padding-left: 10px;
  display: block;
  height: 25px;
  transition: all 0.2s ease-in-out;
}
.key-link-wrapper .key-link:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.key-link-wrapper .key-link:active {
  background-color: #e2e2e2;
}
.key-folder {
  max-width: 500px;
}
.key-folder .key-folder-name {
  display: block;
  height: 30px;
  padding-left: 5px;
  padding-top: 13px;
  color: gray;
  color: rgba(0, 122, 204, 0.5);
  border-bottom: 1px solid lightgray;
  background-color: #f1f1f1;
}
.key-folder ul li {
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
}
