.keys-list-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.keys-list-container .search-input-wrapper {
  background-color: white;
  padding: 18px;
}
.keys-list-container .search-input-wrapper .search-input {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100%;
  min-height: 36px;
}
.keys-list-container .search-input-wrapper .search-input:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.keys-list-container .key-link-wrapper {
  display: flex;
  flex-grow: 1;
}
.keys-list-container .key-link-wrapper .key-link {
  color: #6d6d6d;
  font-size: 14px;
  padding-top: 6px;
  padding-left: 10px;
  display: block;
  height: 25px;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
}
.keys-list-container .key-link-wrapper .key-link:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}
.keys-list-container .key-link-wrapper .key-link:active {
  background-color: #bfbfbf;
}
.keys-list-container .key-link-wrapper .key-link.selected {
  background-color: darkgray;
}
.keys-list-container .key-folder {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 400px;
  min-width: 400px;
}
.keys-list-container .key-folder .key-folder-name {
  font-size: 16px;
  display: flex;
  flex-grow: 1;
  height: 30px;
  padding-left: 5px;
  padding-top: 13px;
  color: #6e7b84;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f2f2f2;
  transition: all 0.2s ease-in-out;
}
.keys-list-container .key-folder .key-folder-name:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 122, 204, 0.4);
}
.keys-list-container .key-folder .key-folder-name:active {
  border-bottom: 1px solid rgba(0, 122, 204, 0.8);
}
.keys-list-container .key-folder .number-of-folder-keys {
  font-size: 11px;
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  opacity: .7;
}
.keys-list-container .key-folder .number-of-folder-keys:hover {
  cursor: pointer;
}
.keys-list-container .key-folder .key-folder-icon {
  width: 16px;
  margin-right: 5px;
  margin-bottom: 10px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}
.keys-list-container .key-folder .key-folder-icon:hover {
  cursor: pointer;
}
.keys-list-container .key-folder .folder-items {
  display: flex;
  flex-grow: 1;
}
.keys-list-container .key-folder .sub-tree {
  display: flex;
  flex-grow: 1;
}
