.tree-level {
  background-color: rgb(247, 247, 247);
  padding: 0 0 0 5px;
  max-width: 500px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  ul {
    margin: 0;
    li {
      list-style: none;
      max-width: 500px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}