.tree-level {
  background-color: #f7f7f7;
  padding: 0 0 0 5px;
  max-width: 500px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.tree-level ul {
  margin: 0;
}
.tree-level ul li {
  list-style: none;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}
