.KeyList {
  background-color: rgb(247, 247, 247);
  padding: 5px;
  max-width: 500px;
}

.KeyList ul {
  padding: 0 0 0 10px;
  margin: 0;
}

.KeyList ul li {
  list-style: none;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}