.context-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #00aeef;
  width: 200px;
  height: 34px;
  border-radius: 17px;

  cursor: pointer;
}

  .context-button:hover, .context-button:active, .context-button:focus {
    background-color: #029CD5;
  }

.context-button p {
  font-size: 11px;
  color: white;
}