.revision-history {
  align-self: flex-start;
}
.modification-details-text {
  color: #a5a5a5;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 4px;
}
.modification-details-text a {
  color: #a5a5a5;
  text-decoration: none;
}
.modification-details-text a label {
  cursor: pointer;
}
.modification-details-text a:hover,
.modification-details-text a:active {
  text-decoration: underline;
}
.modification-details-text a:visited {
  color: #a5a5a5;
}
