@import (reference) "../../../styles/core/core.less";
.textarea-container {
  .CodeMirror, .CodeMirror-scroll {
    min-height: 0;
    max-height: 120px;
    min-width: 400px;
  }

  .CodeMirror-scroll {
    overflow-y: auto;
  }
}