@import '../../../../styles/core/core.less';

@small-font: 16px;

.label-text() {
  all: unset;
  font-size: @small-font;
  margin: 0px 5px 0 0;
  color: gray;
  display: flex;
  white-space: nowrap;
}

.field-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin-top: 5px;

  .field-label {
    .label-text();
    align-items: center;
    padding-bottom: 1px;
  }

  .long-text {
    overflow-wrap: anywhere;
  }
}

.note {
  overflow-wrap: break-word;
  font-style: italic;
}
