@import (reference) "../../../../styles/core/core.less";
.keys-page-container {
  position: absolute;
  top: 65px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: #eee;
  .keys-list {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    background-color: #e2e2e2;
    border-right: 2px solid #e2e2e2;
    .keys-list-wrapper {
      display: flex;
      flex-grow: 1;
    }
  }
  .key-page {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
  }
  .add-button-wrapper {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cbcbcb;
    .add-button {
      .metro-button;
      height: 34px;
      width: 200px;
    }
  }
}