.keys-page-container {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  .keys-list {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 30%;
    overflow-y: scroll;
  }
  .key-page {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}