.keys-page-container {
  position: absolute;
  top: 65px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
}
.keys-page-container .keys-list {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width: 600px;
}
.keys-page-container .key-page {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.keys-page-container .add-button {
  vertical-align: top;
  background-color: rgba(0, 122, 204, 0.7);
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
}
.keys-page-container .add-button:hover {
  background-color: #007acc;
  cursor: pointer;
}
.keys-page-container .add-button:active {
  background-color: #0098ff;
}
.keys-page-container .add-button:disabled {
  background-color: gray;
}
.keys-page-container .add-button:disabled:hover,
.keys-page-container .add-button:disabled:active {
  cursor: default;
  background-color: gray;
}
