.git/
.idea/
.typings/
.vscode/
build/
coverage-unit/
dist/
node_modules/
obj/
rulesRepository/

.dockerignore
.editorconfig
.eslintrc
.gitignore
Dockerfile
jsconfig.json
npm-debug.log
searchIndex.json
yarn-error.log
