{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "extends": ["plugin:jsx-a11y/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["jsx-a11y", "import"],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "comma-dangle": ["error", "always-multiline"],
    "default-case": "off",
    "import/first": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": ["error", { "ignore": [ "^react-monaco-editor$" ]}],
    "import/order": "warn",
    "indent": ["error", 2],
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/no-onchange": "warn",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-var": "error",
    "no-undef": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-template": "error",
    "semi": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "object-curly-spacing": ["error", "always"]
  }
}