{
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": ["warn", "as-needed"],
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "jsx-a11y/img-has-alt": "off",
    "jsx-a11y/label-has-for": "off",
    "linebreak-style": "off",
    "max-len" : "warn",
    "no-param-reassign": "warn",
    "no-plusplus": "off",
    "no-underscore-dangle": "warn",
    "no-unused-vars": "warn",
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "warn",
    "react/prop-types": "off"
  }
}
