.identities-page-container {
  display: flex;
  flex-grow: 1;
  background-color: #eee;
}
.identities-page-container .identities-list {
  display: flex;
  flex-basis: 400px;
  flex-direction: column;
  background-color: #414b53;
}
.identities-page-container .identities-list .identities-list-wrapper {
  display: flex;
  flex-grow: 1;
}
