<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Soluto.Logging.NLog" />
  </extensions>

  <targets>
    <target name="logzIOAsyncWrapper" xsi:type="AsyncWrapper">
      <target name="logzIO" xsi:type="LogzIO"
               host="listener.logz.io"
               port="5050"
               typeField="RoleName"
               LogzAccountToken="wsEabfWJZpXkwVqUVrVNvhSvUnnYtzbg" />
    </target>
    <target name="asyncRaygun" xsi:type="AsyncWrapper">
      <target name="raygun" type="RayGun" ApiKey="" />
    </target>
    <target name="asyncStatsD" xsi:type="AsyncWrapper">
      <target name="statsd" type="StatsD"/>
    </target>
  </targets>

  <rules>
    <logger name="*" level="Error" writeTo="asyncRaygun" />
    <logger name="*" levels="Error,Warn,Info,Debug" writeTo="logzIOAsyncWrapper" />
    <logger name="*" levels="Error,Warn" writeTo="asyncStatsD" />
  </rules>
</nlog>