<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.0.4" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="CouchbaseNetClient" version="2.2.7" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="LanguageExt.Core" version="1.7.38" targetFramework="net461" />
  <package id="lz4net" version="1.0.5.93" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net461" />
  <package id="Mindscape.Raygun4Net" version="4.0.1" targetFramework="net461" />
  <package id="Nancy" version="1.4.3" targetFramework="net461" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="2.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="1.0.0" targetFramework="net461" />
  <package id="NLog" version="3.2.0.0" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="Soluto.Common" version="0.4.1" targetFramework="net461" />
  <package id="Soluto.Logging" version="1.6.1" targetFramework="net461" />
  <package id="Soluto.Logging.NLog" version="2.0.0" targetFramework="net461" />
  <package id="Soluto.Monitoring" version="4.0.3" targetFramework="net461" />
  <package id="Soluto.Monitoring.StatsdClient" version="0.0.12" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net461" />
</packages>