.fixed-keys-list {
  border-collapse: collapse;
}
.fixed-keys-list th,
.fixed-keys-list td {
  padding: 0.4em;
  margin: 0;
}
.fixed-keys-list th {
  font-size: 1em;
  border-bottom: 4px solid #029CD5;
}
.fixed-keys-list tbody tr:hover td {
  background-color: #efefef;
}
.fixed-keys-list tbody tr:hover td:last-child {
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
.fixed-keys-list tbody tr:hover td:first-child {
  border-left: 4px solid #029CD5;
}
.fixed-keys-list tbody th {
  text-align: left;
}
.fixed-keys-list tbody tr td {
  border-left: 4px solid transparent;
  box-sizing: border-box;
}
