@import (reference) "../../../../styles/core/core.less";

.context-search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .context-type-container, .context-id-container, .search-button-container {
    padding: 5px;
  }

  .search-button {
    .search-circle-button;
  }
}
