<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.3.2" targetFramework="net45" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net45" />
  <package id="Ix-Main" version="1.2.5" targetFramework="net45" />
  <package id="LanguageExt.Core" version="1.9.4" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net45" />
</packages>