.key-partitions-selector-container {
  display: flex;
  padding-left: 10px;
}
.key-partitions-selector-container .key-partitions-label {
  font-size: 13px;
  margin: 5px 5px 0 0;
  color: gray;
}
.key-partitions-selector-container .key-partitions-selector-wrapper {
  display: flex;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-input {
  flex-grow: 1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 100px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li:last-child {
  border-bottom: 1px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) {
  flex-grow: 1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 100px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li:last-child {
  border-bottom: 1px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-input {
  flex-grow: 1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 100px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) li:last-child {
  border-bottom: 1px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .override-dropdown :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) {
  flex-grow: 1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 100px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:last-child {
  border-bottom: 1px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead-input) {
  display: flex;
  flex-grow: 1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  padding-left: 0;
}
.key-partitions-selector-container .key-partitions-selector-wrapper :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  padding-left: 0;
}
.key-partitions-selector-container .key-partitions-selector-wrapper[data-with-error="true"] :global(.bootstrap-typeahead-input) {
  display: flex;
  flex-grow: 1;
}
.key-partitions-selector-container .key-partitions-selector-wrapper[data-with-error="true"] :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  padding-left: 30px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper[data-with-error="true"] :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  padding-left: 30px;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .validation-icon-wrapper {
  flex-direction: row;
  width: 0;
  opacity: 0;
  margin: 11px 0 0 0;
  position: absolute;
  z-index: 7;
  transition: all 0.2s ease-in-out;
}
.key-partitions-selector-container .key-partitions-selector-wrapper .validation-icon-wrapper[data-is-shown="true"] {
  width: 16px;
  height: 16px;
  opacity: 1;
  margin-top: 5px;
  padding: 3px 5px;
}
