@accent-color1: #007acc;
@accent-color2: rgba(0, 122, 204, .8);
@accent-color3: rgba(0, 122, 204, .6);
@accent-color4: rgba(0, 122, 204, .5);
@accent-color5: rgba(0, 122, 204, .4);
@accent-color6: rgba(0, 122, 204, .2);
@accent-active: #0098ff;
@accent-foreground: white;