@import (reference) "../../../../styles/core/core.less";

.fixed-keys-container {
  .override-keys-title {
    font-size: 22px;
    color: #a5a5a5;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .add-key-button {
    .add-circle-button;
    margin-top: 20px;
  }
}
