@import (reference) "../../../styles/core/core.less";

.date-input > .calendar {
    .wrapper {
        position: relative;
    }
    .container {
        border-radius: 5px;
        background-color: white;
        z-index: 3;
        position: absolute;
    }
}
