@import (reference) "../../../styles/core/core.less";

.date-input > .calendar {
    border-radius: 5px;
    background-color: white;
    z-index: 2;
    .wrapper {
        position: relative;
    }
    .container {
        position: absolute;
    }
}
