@import (reference) "../../../styles/core/core.less";

.calendar {
    border-radius: 5px;
    background-color: white;
    z-index: 1;
    &.wrapper {
        position: relative;
    }
    &.container {
        position: absolute;
    }
}
