.date-input > .calendar {
  border-radius: 5px;
  background-color: white;
  z-index: 2;
}
.date-input > .calendar .wrapper {
  position: relative;
}
.date-input > .calendar .container {
  position: absolute;
}
