@import (reference) "../../../../../../../../styles/core/tags.less";

.partitions-selector-container {
  display: flex;

  .partitions-label {
    font-size: 13px;
    margin: 5px 5px 0 0;
    color: gray;
  }

  .tags-wrapper {
    .tags-basic;
    .tags-container {
      display: flex;
      max-width: 500px;
      min-width: 150px;
      overflow-y: auto;
      border-bottom: 1px solid @accent-color3;
      padding: 4px;
      box-sizing: border-box;
      &:before {
        content: '';
        margin: 0
      }
      .tag {
        padding: 2px 3px 2px 3px;
        margin: 0 5px 0 0;
      }
      .tag-input {
        display: inline-block;
        input, input:focus {
          background-color: transparent;
          width: 100px;
          border: none;
          outline: none;
          padding: 0;
          margin: 0;
          font-size: 13px;
          font-weight: 500;
        }
      }
      .tags-suggestion {
        margin-top: 6px;
      }
    }
  }
}
