.key-value-type-selector-container {
  display: flex;
  padding-left: 10px;
}
.key-value-type-selector-container .key-value-type-label {
  font-size: 13px;
  margin: 5px 5px 0 0;
  color: gray;
}
.key-value-type-selector-container .key-value-type-selector-wrapper {
  display: flex;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-input {
  flex-grow: 1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 100px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li:last-child {
  border-bottom-width: 1px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead .override-dropdown :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) {
  flex-grow: 1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 100px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li:last-child {
  border-bottom-width: 1px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button) {
  vertical-align: top;
  background-color: #00aeef;
  height: 28px;
  border: 0;
  padding: 0 20px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  border-radius: 14px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 1;
  padding: 0 0 3px;
  box-sizing: border-box;
  background-color: #bcbcbc;
  font-size: 16px;
  padding-top: 2px;
  margin-top: -12px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):hover {
  background-color: #029CD5;
  cursor: pointer;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):disabled {
  background-color: gray;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):disabled:hover,
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):disabled:active {
  cursor: default;
  background-color: gray;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):hover {
  background-color: #9c9c9c;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):active {
  background-color: #7b7b7b;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):after {
  font-family: 'tweekIcons';
  content: '\E900';
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-typeahead :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button) span {
  display: none;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-input {
  flex-grow: 1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-input :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 100px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) li:last-child {
  border-bottom-width: 1px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .override-dropdown :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) {
  flex-grow: 1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 100px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:last-child {
  border-bottom-width: 1px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button) {
  vertical-align: top;
  background-color: #00aeef;
  height: 28px;
  border: 0;
  padding: 0 20px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  border-radius: 14px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 1;
  padding: 0 0 3px;
  box-sizing: border-box;
  background-color: #bcbcbc;
  font-size: 16px;
  padding-top: 2px;
  margin-top: -12px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):hover {
  background-color: #029CD5;
  cursor: pointer;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):disabled {
  background-color: gray;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):disabled:hover,
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):disabled:active {
  cursor: default;
  background-color: gray;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):hover {
  background-color: #9c9c9c;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):active {
  background-color: #7b7b7b;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button):after {
  font-family: 'tweekIcons';
  content: '\E900';
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-clear-button) span {
  display: none;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead-input) {
  display: flex;
  flex-grow: 1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  padding-left: 0;
}
.key-value-type-selector-container .key-value-type-selector-wrapper :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  padding-left: 0;
}
.key-value-type-selector-container .key-value-type-selector-wrapper[data-with-error="true"] :global(.bootstrap-typeahead-input) {
  display: flex;
  flex-grow: 1;
}
.key-value-type-selector-container .key-value-type-selector-wrapper[data-with-error="true"] :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  padding-left: 30px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper[data-with-error="true"] :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  padding-left: 30px;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .validation-icon-wrapper {
  flex-direction: row;
  width: 0;
  opacity: 0;
  margin: 11px 0 0 0;
  position: absolute;
  z-index: 7;
  transition: all 0.2s ease-in-out;
}
.key-value-type-selector-container .key-value-type-selector-wrapper .validation-icon-wrapper[data-is-shown="true"] {
  width: 16px;
  height: 16px;
  opacity: 1;
  margin-top: 5px;
  padding: 3px 5px;
}
