.combo-box-default-wrapper-theme-class {
  display: flex;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-input {
  flex-grow: 1;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-input .bootstrap-typeahead-input-container .bootstrap-typeahead-input {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 150px;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-input .bootstrap-typeahead-input-container .bootstrap-typeahead-input:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-input .bootstrap-typeahead-input-container .bootstrap-typeahead-input:disabled {
  border-color: #bcbcbc;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu {
  position: absolute;
  max-height: 350px;
  min-width: 450px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu li:last-child {
  border-bottom-width: 1px;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu li:active {
  background-color: #d1d1d1;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu .disabled {
  display: none;
}
.combo-box-default-wrapper-theme-class .override-typeahead .override-dropdown .dropdown-menu .active {
  background-color: #dfdfdf;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead {
  flex-grow: 1;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .bootstrap-typeahead-input-container .bootstrap-typeahead-input {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 150px;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .bootstrap-typeahead-input-container .bootstrap-typeahead-input:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .bootstrap-typeahead-input-container .bootstrap-typeahead-input:disabled {
  border-color: #bcbcbc;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu {
  position: absolute;
  max-height: 350px;
  min-width: 450px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu li:last-child {
  border-bottom-width: 1px;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu li:active {
  background-color: #d1d1d1;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu .disabled {
  display: none;
}
.combo-box-default-wrapper-theme-class .override-typeahead .bootstrap-typeahead .dropdown-menu .active {
  background-color: #dfdfdf;
}
.combo-box-default-wrapper-theme-class .override-input {
  flex-grow: 1;
}
.combo-box-default-wrapper-theme-class .override-input .bootstrap-typeahead-input-container .bootstrap-typeahead-input {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 150px;
}
.combo-box-default-wrapper-theme-class .override-input .bootstrap-typeahead-input-container .bootstrap-typeahead-input:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.combo-box-default-wrapper-theme-class .override-input .bootstrap-typeahead-input-container .bootstrap-typeahead-input:disabled {
  border-color: #bcbcbc;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu {
  position: absolute;
  max-height: 350px;
  min-width: 450px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu li:last-child {
  border-bottom-width: 1px;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu li:active {
  background-color: #d1d1d1;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu .disabled {
  display: none;
}
.combo-box-default-wrapper-theme-class .override-dropdown .dropdown-menu .active {
  background-color: #dfdfdf;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead {
  flex-grow: 1;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .bootstrap-typeahead-input-container .bootstrap-typeahead-input {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 150px;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .bootstrap-typeahead-input-container .bootstrap-typeahead-input:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .bootstrap-typeahead-input-container .bootstrap-typeahead-input:disabled {
  border-color: #bcbcbc;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu {
  position: absolute;
  max-height: 350px;
  min-width: 450px;
  overflow-y: auto;
  width: auto;
  z-index: 5;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu li:last-child {
  border-bottom-width: 1px;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu li:active {
  background-color: #d1d1d1;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu .disabled {
  display: none;
}
.combo-box-default-wrapper-theme-class .bootstrap-typeahead .dropdown-menu .active {
  background-color: #dfdfdf;
}
