.rule-container {
    display: flex;
    padding: 10px;
    .case-partial-title {
        color: gray;
        font-size: 13px;
        margin-bottom: 5px;
    }
    .conditions {
        width: 70%;
        border-right: 1px solid lightgray;
        padding-right: 5px;
        .matcher-wrapper {
            padding: 5px;
        }
    }
    .values {
        margin-left: 10px;
        width: 300px;
    }
}