.rule-container {
  display: flex;
  padding: 10px;
}
.rule-container .case-partial-title {
  color: gray;
  font-size: 13px;
  margin-bottom: 5px;
}
.rule-container .conditions {
  border-right: 1px solid lightgray;
}
.rule-container .conditions .matcher-wrapper {
  padding: 5px;
}
.rule-container .values {
  margin-left: 10px;
  flex-grow: 1;
}
