@import (reference) "../../../../../../styles/core/core.less";
.textarea-container {
  .textarea-input {
    display: block;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    .transitioned();
    &.read-only {
      border: 1px solid transparent;
      padding-left: 3px;
    }
    &:disabled {
      border: 1px solid transparent;
      padding-left: 10px;
    }
  }
}