.dependency-indicator-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #a5a5a5;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 4px;
}
.dependency-indicator-container .dependency-item {
  list-style-type: none;
  font-weight: 300;
  color: #a5a5a5;
}
.dependency-indicator-container .dependency-item a {
  text-decoration: none;
  color: #a5a5a5;
}
.dependency-indicator-container .dependency-item a:visited {
  color: #a5a5a5;
}
.dependency-indicator-container .dependency-item a:hover {
  color: #727272;
}
.dependency-indicator-container .dependency-item a:active {
  color: #a5a5a5;
}
