.readonly-key-message {
  float: left;
  font-size: 22px;
  color: #888;
}
.key-action-buttons-wrapper {
  float: right;
}
.key-action-buttons-wrapper .save-button {
  margin-left: 10px;
  width: 125px;
}
.key-action-buttons-wrapper .save-button[data-state-is-saving=true],
.key-action-buttons-wrapper .save-button[data-state-is-saving=true]:disabled {
  background-color: green;
}
.key-action-buttons-wrapper .disable-button {
  vertical-align: top;
  background-color: #00aeef;
  height: 28px;
  border: 0;
  padding: 0 20px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  border-radius: 14px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
  background-color: transparent;
  color: gray;
  width: 125px;
}
.key-action-buttons-wrapper .disable-button:hover {
  background-color: #029CD5;
  cursor: pointer;
}
.key-action-buttons-wrapper .disable-button:disabled {
  background-color: gray;
}
.key-action-buttons-wrapper .disable-button:disabled:hover,
.key-action-buttons-wrapper .disable-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.key-action-buttons-wrapper .disable-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.key-action-buttons-wrapper .disable-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.key-action-buttons-wrapper .disable-button:disabled {
  background-color: transparent;
}
.key-action-buttons-wrapper .disable-button:disabled:hover,
.key-action-buttons-wrapper .disable-button:disabled:active {
  cursor: default;
  background-color: transparent;
}
