@import (reference) "../../../../styles/core/core.less";
.loading-message {
  .centered-message;
}

@text-color: #515c66;
.key-viewer-container {
  padding: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  .key-action-buttons-wrapper {
    text-align: right;
    @key-action-button-width: 125px;
    .save-changes-button {
      .metro-button;
      width: @key-action-button-width;
      &[data-state-is-saving=true], &[data-state-is-saving=true]:disabled {
        background-color: green;
      }
    }
    .delete-key-button {
      .metro-button;
      margin-right: 10px;
      width: @key-action-button-width;
      text-decoration: underline;
      background-color: transparent;
      color: gray;
      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }
      &:active {
        background-color: rgba(0, 0, 0, .2);
      }
      &:disabled {
        background-color: transparent;
        &:hover, &:active {
          cursor: default;
          background-color: transparent;
        }
      }
    }
  }
  .key-header {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 16px;
    clear: both;
    padding: 20px;
    min-height: 168px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    .modification-data {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .display-name {
      font-size: 20px;
    }
    .display-name-wrapper {
      @display-name-font-size: 22px;
      .display-name-container {
        min-height: 34px;
        display: flex;
        flex-grow: 1;
      }
      .display-name-form {
        display: flex;
        flex-grow: 1;
      }
      .display-name-input {
        .metro-textbox;
        font-size: @display-name-font-size;
        font-weight: 300;
        display: flex;
        flex-grow: 1;
        width: 100%;
      }
      .key-name-input {
        .display-name-input;
        margin-bottom: 20px;
      }
      .display-name-text {
        font-size: @display-name-font-size;
        display: flex;
        flex-grow: 1;
      }
    }
    .key-full-path {
      color: #a5a5a5;
      font-size: 14px;
      margin-left: 5px;
      margin-bottom: 4px;
      .user-select(none);
      .actual-path {
        .user-select(text);
      }
    }
    .key-description-and-tags-wrapper {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      margin-top: 10px;
      .description-input {
        resize: none;
        font-size: 14px;
        color: @text-color;
        min-width: 400px;
        min-height: 40px;
        border: 1px solid lightgray;
        border-radius: 5px;
        outline: none;
        padding: 10px;
      }
      .tags-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        display: flex;
        flex-grow: 1;
        padding-top: 0;
        border-left: 1px solid lightgray;
        padding-left: 20px;
        margin-left: 20px;
      }
    }
  }
  .key-rules-editor {
    display: flex;
    flex-grow: 1;
    margin-top: 7px;
  }
}