version: '3.1'

services:
  management:
    image: soluto/tweek-management
    build: ../../services/management
    depends_on:
      - api
    environment:
      - VALIDATION_URL=http://api/validation

  api:
    image: soluto/tweek-api
    build:
      context: ../../
      dockerfile: TweekApiDockerfile

  authoring:
    image: soluto/tweek-authoring
    build: ../../services/authoring

  editor:
    image: soluto/tweek-editor
    build: ../../services/editor
    depends_on: 
      - api
      - authoring

  gateway:
    image: soluto/tweek-secure-gateway
    build: ../../services/secure-gateway
    ports:
      - "8080:9090"
      - "80:9090"
