version: '3.4'

services:
  api:
    image: soluto/tweek-api
    build:
      context: ../../
      dockerfile: TweekApi.Dockerfile

  authoring:
    image: soluto/tweek-authoring
    build: ../../services/authoring

  editor:
    image: soluto/tweek-editor    
    build:
      context: ../../services/editor
      args:
        - REACT_APP_GATEWAY_URL=http://gateway
    depends_on: 
      - gateway

  gateway:
    image: soluto/tweek-secure-gateway
    build: ../../services/secure-gateway
    depends_on:
      - api
      - authoring
  
  publishing:
    image: soluto/tweek-publishing
    build: ../../services/publishing

