version: '3.1'

services:
  git:
    image: soluto/tweek-bare-repo
    build: ../../services/git-service/BareRepository
    ports: 
      - "4001:22"
    environment:
      - PUBLIC_KEY_PATH=/run/secrets/tweek_ssh_public_key
      - TWEEK_MANAGEMENT_URL=http://management:3000
    secrets:
      - tweek_ssh_public_key
 
  management:
    depends_on:
      - git
      - minio
      - nats
    expose:
      - "5858"
    ports:
      - "5858:5858"
      - "4002:3000"
    entrypoint:
      - yarn 
      - start:debug
    environment:
      - GIT_USER=git
      - GIT_URL=ssh://git@git/tweek/repo
      - GIT_PUBLIC_KEY_PATH=/run/secrets/tweek_ssh_public_key
      - GIT_PRIVATE_KEY_PATH=/run/secrets/tweek_ssh_private_key
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY_PATH=/run/secrets/minio_access_key
      - MINIO_SECRET_KEY_PATH=/run/secrets/minio_secret_key
      - NATS_ENDPOINT=nats://nats:4222
    secrets:
      - tweek_ssh_public_key
      - tweek_ssh_private_key
      - minio_access_key
      - minio_secret_key
    labels:
      - "traefik.port=3000"
  
  api:
    ports:
      - "4003:80"
    depends_on:
      - redis
      - minio
      - nats
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - PUBLIC_KEY_PATH=/run/secrets/tweek_pfx_public_key
      - Redis__ConnectionString=redis:6379
      - Rules__Minio__Endpoint=minio:9000
      - Rules__Minio__AccessKeyPath=/run/secrets/minio_access_key
      - Rules__Minio__SecretKeyPath=/run/secrets/minio_secret_key
      - Rules__Nats__Endpoint=nats://nats:4222
      - Rules__Management__Url=http://management:3000
      - UseAddon__Rules=MinioRules
      - RulesetVersionProvider=NatsVersionProvider
    secrets:
      - tweek_pfx_public_key
      - minio_access_key
      - minio_secret_key

  editor:
    ports:
      - "4004:3000"
    volumes: 
      - ../../services/editor/vapid:/opt/vapid
    environment:
      - GIT_PRIVATE_KEY_PATH=/run/secrets/tweek_ssh_private_key
    secrets:
      - tweek_ssh_private_key

  authoring:
    depends_on:
      - git
    ports:
      - "5859:5858"
      - "4005:3000"
    environment:
      - GIT_USER=git
      - GIT_URL=ssh://git@git/tweek/repo
      - GIT_PUBLIC_KEY_PATH=/run/secrets/tweek_ssh_public_key
      - GIT_PRIVATE_KEY_PATH=/run/secrets/tweek_ssh_private_key
    secrets:
      - tweek_ssh_private_key
      - tweek_ssh_public_key
    command:
      - yarn 
      - start:debug
    labels:
      - "traefik.port=3000"

  redis:
    image: redis:4.0.2-alpine
    expose:
      - "6379"
    ports:
      - "4006:6379"
  
  minio:
    image: minio/minio
    ports:
      - "4007:9000"
    command: server /data
    secrets:
      - source: minio_access_key
        target: access_key
      - source: minio_secret_key
        target: secret_key

  nats:
    image: nats:1.0.4-linux
    ports:
      - "4008:8222"
      - "4222:4222"

  gateway:
    image: traefik:1.3.2
    ports:
      - "${TWEEK_GATEWAY_PORT:-81}:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /dev/null:/traefik.toml
    command: --web --docker --docker.domain=tweek.localtest.me --logLevel=DEBUG

secrets:
  tweek_ssh_public_key:
    file: ./ssh/tweekgit.pub
  tweek_pfx_public_key:
    file: ./ssh/tweekgit_public.pfx
  tweek_ssh_private_key:
    file: ./ssh/tweekgit
  minio_access_key:
    file: ./minio/access_key
  minio_secret_key:
    file: ./minio/secret_key
