<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.0.4" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="CouchbaseNetClient" version="2.2.7" targetFramework="net461" />
  <package id="FsCheck" version="2.2.4" targetFramework="net461" />
  <package id="FsCheck.Nunit" version="1.0.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="LanguageExt.Core" version="1.7.32" targetFramework="net461" requireReinstallation="true" />
  <package id="lz4net" version="1.0.10.93" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
</packages>