.case-container {
  padding: 0;
  margin: 0;
}
.case-container .add-case-button {
  vertical-align: top;
  background-color: rgba(0, 122, 204, 0.7);
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  padding: 0 10px;
}
.case-container .add-case-button:hover {
  background-color: #007acc;
  cursor: pointer;
}
.case-container .add-case-button:active {
  background-color: #0098ff;
}
.case-container .add-case-button:disabled {
  background-color: gray;
}
.case-container .add-case-button:disabled:hover,
.case-container .add-case-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.case-container .conditions-container {
  margin-top: 6px;
  position: relative;
  border-bottom: 1px solid lightgray;
  box-shadow: 8px 4px 16px rgba(0, 0, 0, 0.25);
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  margin-bottom: 16px;
}
.case-container .conditions-container .case-control-wrapper {
  position: absolute;
  top: 10px;
  right: 20px;
}
.case-container .conditions-container .case-control-wrapper .case-order-button {
  vertical-align: top;
  background-color: rgba(0, 122, 204, 0.7);
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #bcbcbc;
  margin-right: 3px;
  font-size: 10px;
  font-family: Arial;
  opacity: .7;
}
.case-container .conditions-container .case-control-wrapper .case-order-button:hover {
  background-color: #007acc;
  cursor: pointer;
}
.case-container .conditions-container .case-control-wrapper .case-order-button:active {
  background-color: #0098ff;
}
.case-container .conditions-container .case-control-wrapper .case-order-button:disabled {
  background-color: gray;
}
.case-container .conditions-container .case-control-wrapper .case-order-button:disabled:hover,
.case-container .conditions-container .case-control-wrapper .case-order-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.case-container .conditions-container .case-control-wrapper .case-order-button:hover {
  background-color: #9c9c9c;
}
.case-container .conditions-container .case-control-wrapper .case-order-button:active {
  background-color: #7b7b7b;
}
.case-container .conditions-container .case-control-wrapper .delete-case-button {
  vertical-align: top;
  background-color: rgba(0, 122, 204, 0.7);
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ee8383;
  padding-bottom: 1px;
}
.case-container .conditions-container .case-control-wrapper .delete-case-button:hover {
  background-color: #007acc;
  cursor: pointer;
}
.case-container .conditions-container .case-control-wrapper .delete-case-button:active {
  background-color: #0098ff;
}
.case-container .conditions-container .case-control-wrapper .delete-case-button:disabled {
  background-color: gray;
}
.case-container .conditions-container .case-control-wrapper .delete-case-button:disabled:hover,
.case-container .conditions-container .case-control-wrapper .delete-case-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.case-container .conditions-container .case-control-wrapper .delete-case-button:hover {
  background-color: #e26c6c;
}
.case-container .conditions-container .case-control-wrapper .delete-case-button:active {
  background-color: #e34f4f;
}
