@import (reference) "../../../../styles/core/core.less";
.case-container {
    padding: 0;
    margin: 0;
    .add-case-button {
        .metro-button;
        padding: 0 10px;
    }
    .conditions-container {
        margin-top: 6px;
        position: relative;
        border-bottom: 1px solid lightgray;
        &:nth-child(even) {
            background-color: #f1f1f1;
        }
        .case-control-wrapper {
            position: absolute;
            top: 10px;
            right: 20px;
            .case-order-button {
                .gray-circle-button;
                margin-right: 3px;
                font-size: 10px;
                font-family: Arial;
                opacity: .7;
            }
            .delete-case-button {
                .red-circle-button;
                padding-bottom: 1px;
            }
        }
    }
}