.property-type-wrapper {
  display: flex;
  height: auto;
  min-height: 30px;
  padding: 8px 4px 8px 16px;
}
.property-type-wrapper .property-type-name-label {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
  font-size: 12px;
  color: gray;
}
.property-type-wrapper .property-type-name-label:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.property-type-wrapper .property-type-label {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
  font-size: 12px;
  color: gray;
}
.property-type-wrapper .property-type-label:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
