@import (reference) "../../../../../styles/core/core.less";

.property-type-wrapper {
  display: flex;
  height: auto;
  min-height: 30px;
  padding: 8px 4px 8px 16px;
  .property-type-name-label {
    .metro-textbox;
    margin-right: 10px;
    font-size: 12px;
    color: gray;
  }
}
