.context-details-container {
  min-width: 900px;

  .context-title {
    display: flex;
    flex-direction: column;

    .context-id {
      font-size: 22px;
      color: #515c66;
    }
    .context-type {
      margin-top: 10px;
      color: #a5a5a5;
      font-size: 14px;
    }
  }

  .section {
    box-shadow: 0 10px 9px -10px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 16px;
  }
}
