*[data-comp=label] {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border-bottom-color: #bcbcbc;
  line-height: 28px;
  margin-right: 8px;
  align-self: flex-start;
}
*[data-comp=label]:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
*[data-comp=label]:disabled {
  border-color: #bcbcbc;
}
