* {
  box-sizing: border-box;
}
.metro-button {
  vertical-align: top;
  background-color: rgba(0, 122, 204, 0.7);
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
}
.metro-button:hover {
  background-color: #007acc;
  cursor: pointer;
}
.metro-button:active {
  background-color: #0098ff;
}
.metro-button:disabled {
  background-color: gray;
}
.metro-button:disabled:hover,
.metro-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.metro-textbox {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: auto;
  padding: 0 4px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 122, 204, 0.4);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.metro-textbox:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.7);
}
.circle-button {
  vertical-align: top;
  background-color: rgba(0, 122, 204, 0.7);
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.circle-button:hover {
  background-color: #007acc;
  cursor: pointer;
}
.circle-button:active {
  background-color: #0098ff;
}
.circle-button:disabled {
  background-color: gray;
}
.circle-button:disabled:hover,
.circle-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.gray-circle-button {
  vertical-align: top;
  background-color: rgba(0, 122, 204, 0.7);
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #bcbcbc;
}
.gray-circle-button:hover {
  background-color: #007acc;
  cursor: pointer;
}
.gray-circle-button:active {
  background-color: #0098ff;
}
.gray-circle-button:disabled {
  background-color: gray;
}
.gray-circle-button:disabled:hover,
.gray-circle-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.gray-circle-button:hover {
  background-color: #9c9c9c;
}
.gray-circle-button:active {
  background-color: #7b7b7b;
}
.red-circle-button {
  vertical-align: top;
  background-color: rgba(0, 122, 204, 0.7);
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ee8383;
}
.red-circle-button:hover {
  background-color: #007acc;
  cursor: pointer;
}
.red-circle-button:active {
  background-color: #0098ff;
}
.red-circle-button:disabled {
  background-color: gray;
}
.red-circle-button:disabled:hover,
.red-circle-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.red-circle-button:hover {
  background-color: #e26c6c;
}
.red-circle-button:active {
  background-color: #e34f4f;
}
.centered-message {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 28px;
  color: rgba(0, 122, 204, 0.5);
}
