@import (reference) "./accents.less";
.user-select(@user-select: none) {
  -moz-user-select: @user-select;
  -ms-user-select: @user-select;
  -webkit-user-select: @user-select;
  user-select: @user-select;
}

.transitioned(@duration :.2s) {
  transition: all @duration ease-in-out;
}

.metro-button {
  vertical-align: top;
  background-color: @accent-color2;
  height: 28px;
  border: 0;
  padding: 0 5px;
  color: @accent-foreground;
  outline: 0;
  padding-bottom: 2px;
  .user-select(none);
  .transitioned();

  &:hover {
    background-color: @accent-color1;
    cursor: pointer;
  }
  &:active {
    background-color: @accent-active;
  }
  
  &:disabled{
    background-color:gray;
    &:hover, &:active{
      cursor: default;
      background-color:gray;
    }
  }
}

.metro-textbox {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  padding: 0 7px;
  background-color: transparent;
  border-bottom: 2px solid @accent-color2;
  outline: none;
  .user-select(none);
}