  @import (reference) "./accents.less";
  * {
    box-sizing: border-box;
  }
  
  .user-select(@user-select: none) {
    -moz-user-select: @user-select;
    -ms-user-select: @user-select;
    -webkit-user-select: @user-select;
    user-select: @user-select;
  }
  
  .transitioned(@duration :.2s) {
    transition: all @duration ease-in-out;
  }
  
  .metro-button {
    vertical-align: top;
    background-color: @accent-color2;
    height: 28px;
    border: 0;
    padding: 0 20px;
    color: @accent-foreground;
    outline: 0;
    padding-bottom: 2px;
    border-radius: 14px;
    .user-select(none);
    .transitioned();
    &:hover {
      background-color: @accent-color1;
      cursor: pointer;
    }
    &:active {
      background-color: @accent-active;
    }
    &:disabled {
      background-color: gray;
      &:hover, &:active {
        cursor: default;
        background-color: gray;
      }
    }
  }
  
  .transparent-metro-button {
    .metro-button;
    text-decoration: underline;
    background-color: transparent;
    color: gray;
    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
    &:active {
      background-color: rgba(0, 0, 0, .2);
    }
    &:disabled {
      background-color: transparent;
      &:hover, &:active {
        cursor: default;
        background-color: transparent;
      }
    }
  }
  
  .small-metro-button {
    .metro-button;
    font-size: 12px;
    height: 20px;
    padding: 0 10px;
  }
  
  .metro-textbox {
    display: inline-block;
    border: 0;
    border-style: none;
    height: 28px;
    width: auto;
    padding: 0 4px;
    background-color: transparent;
    font-size: 13px;
    font-weight: 500;
    color: #515C66;
    border-bottom: 1px solid @accent-color4;
    outline: none;
    box-sizing: border-box;
    .transitioned();
    &:focus {
      border-bottom: 2px solid @accent-color2;
    }
  }
  
  .small-metro-textbox {
    .metro-textbox;
    height: 16px;
    font-size: 12px;
  }
  
  .circle-button {
    .metro-button;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 1;
    padding: 0 0 3px;
    box-sizing: border-box;
  }
  
  .small-circle-button {
    .circle-button;
    width: 13px;
    height: 13px;
    font-size: 10px;
    padding-bottom: 4px;
  }
  
  .gray-button {
    background-color: rgb(188, 188, 188);
    &:hover {
      background-color: rgb(156, 156, 156);
    }
    &:active {
      background-color: rgb(123, 123, 123);
    }
  }
  
  .gray-circle-button {
    .circle-button;
    .gray-button;
  }
  
  .small-gray-circle-button {
    .small-circle-button;
    .gray-button;
  }
  
  .add-button {
    &:after {
      font-family: 'tweekIcons';
      content: '\E905';
    }
  }
  
  .close-button {
    &:after {
      font-family: 'tweekIcons';
      content: '\E900';
    }
  }
  
  .add-circle-button {
    .circle-button;
    .add-button;
    font-size: 16px;
    padding-top: 2px;
  }
  
  .small-add-circle-button {
    .small-circle-button;
    .add-button;
    font-size: 11px;
    padding-top: 1px;
  }
  
  .close-circle-button {
    .gray-circle-button;
    .close-button;
    font-size: 16px;
    padding-top: 2px;
  }
  
  .small-close-circle-button {
    .small-gray-circle-button;
    .close-button;
    font-size: 12px;
    padding-top: 1px;
  }
  
  .centered-message {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 28px;
    color: @accent-color3;
  }