.rodal-container {
  color: #555;
  line-height: 1.42857143;

  .rodal-header {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
  }

  .rodal-body {
    padding-top: 15px;
    font-size: 14px;
  }

  .rodal-button-container {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 15px;

    button {
      min-width: 75px;
      margin: 0 5px;
      padding: 4px 15px;
      border-radius: 3px;
      transition: background .2s;
      border: 1px solid #03a9f4;
    }

    .rodal-confirm-btn, .rodal-save-btn, .auto-partition-btn {
      color: #fff;
      background: #03a9f4;
      &:hover {
        background: #0098e3;
      }
      &:disabled{
        background: #dddddd;
        border: 1px solid #cccccc;
        color:#888888;
      }
    }

    .rodal-cancel-btn, .reset-partitions-btn {
      color: #03a9f4;
      background: #fff;
      &:hover {
        background: #fafafa;
      }
    }
  }
}