@import (reference) "../../../../../../../../styles/core/comboBox.less";

.default-value-container {
  display: flex;
  .transitioned();

  .default-value-label {
    font-size: 13px;
    margin: 5px 5px 0 0;
    color: gray;
  }

  .values-input {
    .metro-textbox;
    resize: none;
    display: inline-block;
  }

  .clear-default-value-button {
    margin-left: 10px;
    .close-circle-button;
  }

  .combo-box-basic(150px, 150px);
}
