@import (reference) "../../../../../styles/core/core.less";

.property-type-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: auto;
  min-height: 30px;
  padding: 8px 4px 8px 16px;
  button[data-comp=remove]{
      margin-right: 2px;
      .small-close-circle-button;
  }
}
.new-identity-property
{
    border: 1px #999999 dotted;
    border-radius: 3px;
    background-color: #EFFFFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: fit-content;
    min-height: 30px;
    padding: 8px 12px 8px 28px;
    input{
      margin-right: 10px;
      font-size: 12px;
    }
    button[data-comp=add]{
      .add-circle-button
    }
}
