<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.0.7" targetFramework="net45" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net45" />
  <package id="FSharpUtils.Newtonsoft.JsonValue" version="0.1.6233.20455" targetFramework="net45" />
  <package id="LanguageExt.Core" version="1.9.4" targetFramework="net45" />
  <package id="lz4net" version="1.0.10.93" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net45" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="net45" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net45" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="net45" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="System.Collections" version="4.3.0" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net45" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
  <package id="Tweek.JPad" version="0.3.6233.20598" targetFramework="net45" />
  <package id="Validation" version="2.2.8" targetFramework="net45" />
</packages>