<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.0.7" targetFramework="net45" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net45" />
  <package id="LanguageExt.Core" version="1.7.38" targetFramework="net45" requireReinstallation="true" />
  <package id="lz4net" version="1.0.10.93" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
</packages>