.partitions-list-container {
  padding: 20px 25px;
  margin: 0;
}
.partitions-list-container .add-partition-button {
  vertical-align: top;
  background-color: #00aeef;
  height: 28px;
  border: 0;
  padding: 0 20px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  border-radius: 14px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
}
.partitions-list-container .add-partition-button:hover {
  background-color: #029CD5;
  cursor: pointer;
}
.partitions-list-container .add-partition-button:disabled {
  background-color: gray;
}
.partitions-list-container .add-partition-button:disabled:hover,
.partitions-list-container .add-partition-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.partitions-list-container .add-default-partition-button {
  vertical-align: top;
  background-color: #00aeef;
  height: 28px;
  border: 0;
  padding: 0 20px;
  color: white;
  outline: 0;
  padding-bottom: 2px;
  border-radius: 14px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
  background-color: transparent;
  color: gray;
  margin-left: 20px;
}
.partitions-list-container .add-default-partition-button:hover {
  background-color: #029CD5;
  cursor: pointer;
}
.partitions-list-container .add-default-partition-button:disabled {
  background-color: gray;
}
.partitions-list-container .add-default-partition-button:disabled:hover,
.partitions-list-container .add-default-partition-button:disabled:active {
  cursor: default;
  background-color: gray;
}
.partitions-list-container .add-default-partition-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.partitions-list-container .add-default-partition-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.partitions-list-container .add-default-partition-button:disabled {
  background-color: transparent;
}
.partitions-list-container .add-default-partition-button:disabled:hover,
.partitions-list-container .add-default-partition-button:disabled:active {
  cursor: default;
  background-color: transparent;
}
.partitions-accordion-container {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 70px;
  margin-top: 40px;
}
.partitions-accordion-container-item-title {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  color: #333;
  padding: 20px;
  transition: background-color 0.3s;
}
.partitions-accordion-container-item:first-child .partitions-accordion-container-item-title {
  border-top: none;
}
.partitions-accordion-container-item-expanded .partitions-accordion-container-item-title {
  background-color: #03a9f4;
  color: #fff;
}
.partitions-accordion-container-item-body-wrapper {
  color: #666;
  padding: 20px;
  position: relative;
}
