@import (reference) "../../../../../../../../styles/core/core.less";

.partitions-list-container {
  padding: 20px 25px;
  margin: 0;

  .add-partition-button {
    .metro-button;
  }

  .add-default-partition-button {
    .transparent-metro-button;
    margin-left: 20px;
  }

  .partition-container {

  }
}