@import (reference) "../../../styles/core/autoSuggest.less";
.autosuggest-wrapper {
  .auto-suggest-basic;
  .suggestionsContainer {
    width: auto;
    box-sizing: border-box;
  }
  .suggestion {
    height: auto;
    padding: 10px;
    padding-right: 30px;
  }
}