@import (reference) "../../../../../styles/core/core.less";
.matcher {
    .conditions-wrapper {
        display: flex;
        padding-left: 3px;
        height: 30px;
        .delete-condition-button {
            .small-close-circle-button;
            margin-top: 10px;
            margin-right: 4px;
        }
    }
    .add-condition-button {
        .add-circle-button;
        margin-top: 8px;
        box-sizing: border-box;
    }
    .default-value-message {
        display: inline-block;
        margin: 10px;
        margin-left: 30px;
        color: gray;
    }
}