@import (reference) "../../../../../styles/core/core.less";
.matcher {
    .conditions-wrapper {
        display: flex;
        padding-left: 3px;
        height: 30px;
        .delete-condition-button {
            .gray-circle-button(true);
            margin-top: 7px;
            margin-right: 4px;
        }
    }
    .add-condition-button {
        .circle-button;
        margin-top: 8px;
        box-sizing: border-box;
        &.big {
            width: 35px;
            height: 35px;
            margin-left: 5px;
            margin-top: 10px;
        }
    }
    .match-all-message {
        display: inline-block;
        margin: 15px;
        margin-left: 30px;
        color: gray;
    }
}