@import (reference) '../styles/core/core.less';

.jsonEditor {
  &:extend(.panel);

  .jsonCompound {
    > .jsonChildren {
      visibility: hidden;
    }
    &.open {
      > .jsonChildren {
        visibility: visible;
      }
    }
  }

  .jsonAdd {
    .value-text();
    font-size: 11px;
  }

  .jsonRemove {
    all: unset;
    color: red;
    text-align: center;
    font-size: 13px;
  }

  .jsonChildren{
    .jsonField {
      display: flex;
      flex-direction: row;
      .jsonName {
        .name-text();
      }
      .jsonValue {
        .value-text();
        > input {
          align-self: center;
        }
      }
    }
  }
}

.name-text() {
    all: unset;
    font-size: 16px;
    margin: 0px 5px 0 0;
    color: #6d6d6d;
    display: flex;
    white-space: nowrap;
}

.value-text() {
    all: unset;
    font-size: 16px;
    margin: 0px 5px 0 0;
    color: #a5a5a5;
    display: flex;
}