@import (reference) "../../../../styles/core/core.less";
@sidebarBgColor:#414b53;

.identity-type-link-wrapper {
    display: flex;
    flex-grow: 1;
    max-width: 400px;
    min-width: 400px;
    .identity-type-link {
      font-size: 16px;
      display: flex;
      flex-grow: 1;
      height: 30px;
      padding-left: 40px;
      padding-top: 13px;
      color: #d8d8d8;
      background-color: transparent;
      text-decoration: none;
      .transitioned();
      &:hover {
        background-color: #363a3e;
        cursor: pointer;
      }
      &:active {
        background-color: #363a3e;
      }
      &.selected {
        background-color: #686e74;
      }
    }
  }