@import (reference) "../../../../styles/core/core.less";
.schema-page-container {
  display: flex;
  flex-grow: 1;
  background-color: #eee;
  .side-menu{
    background:#414b53;
  }
  
  .identity-types-list {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    background-color: #414b53;
    .identity-types-list-wrapper {
      display: flex;
      flex-grow: 1;
    }
  }
}
