.matcher-operator {
  margin: 0 5px;
  display: inline-block;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: auto;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 30px;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.matcher-operator :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: auto;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: 30px;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 30px;
  overflow-y: auto;
  width: auto;
  z-index: 2;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0px 1px;
  border-style: solid;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) li:last-child {
  border-bottom: 1px;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.matcher-operator :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.property-value-wrapper {
  display: inline-block;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: auto;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: auto;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 80px;
  overflow-y: auto;
  width: auto;
  z-index: 2;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0px 1px;
  border-style: solid;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:last-child {
  border-bottom: 1px;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.property-value-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.property-value-wrapper .value-input {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  width: auto;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.property-value-wrapper .value-input:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.property-suggestion-wrapper .suggestion-type {
  margin-left: 10px;
  font-size: 12px;
  color: gray;
}
.property-suggestion-wrapper .suggestion-identity {
  color: gray;
  margin-top: 4px;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: auto;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-main):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint) {
  display: inline-block;
  border: 0;
  border-style: none;
  height: 28px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  width: auto;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.bootstrap-typeahead-input) :global(.bootstrap-typeahead-input-hint):focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) {
  position: absolute;
  max-height: 350px;
  min-width: 300px;
  overflow-y: auto;
  width: auto;
  z-index: 2;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li {
  background-color: #f4f4f4;
  min-height: 35px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0px 1px;
  border-style: solid;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:last-child {
  border-bottom: 1px;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li:active {
  background-color: #d1d1d1;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) li a:first-child {
  padding: 10px;
  padding-right: 30px;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.disabled) {
  display: none;
}
.property-name-wrapper :global(.bootstrap-typeahead) :global(.dropdown-menu) :global(.active) {
  background-color: #dfdfdf;
}
.tags-container {
  padding-top: 4px;
  display: inline-block;
  max-width: 500px;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0, 122, 204, 0.6);
}
.tags-container .tag-base {
  font-size: 12px;
  display: inline-block;
  color: black;
  height: 20px;
  box-sizing: border-box;
}
.tags-container .tag {
  font-size: 12px;
  display: inline-block;
  color: black;
  height: 20px;
  box-sizing: border-box;
  float: left;
  padding: 3px 3px 0 3px;
}
.tags-container .tag .tag-delete-button {
  display: block;
  float: right;
  margin-top: 1px;
  margin-left: 6px;
  padding-left: 1px;
  padding-bottom: 4px;
  width: 9px;
  height: 9px;
  color: #8c8c8c;
  transition: all 0.2s ease-in-out;
}
.tags-container .tag .tag-delete-button:hover {
  cursor: pointer;
  color: #636363;
}
.tags-container .tag .tag-delete-button:after {
  content: ';';
}
.tags-container .tag-input {
  display: inline-block;
}
.tags-container .tag-input input,
.tags-container .tag-input input:focus {
  font-size: 12px;
  display: inline-block;
  color: black;
  height: 20px;
  box-sizing: border-box;
  float: right;
  width: 65px;
  border: none;
  outline: none;
  padding-left: 3px;
}
