@import (reference) "../../../../../../styles/core/core.less";
@import (reference) "../../../../../../styles/core/autoSuggest.less";
.matcher-operator {
  margin: 0 5px;
  display: inline-block;
  @width: 30px;
  .auto-suggest-basic(@width, @width);
}

.property-value-wrapper {
  .auto-suggest-basic(80px);
  display: inline-block;
  .value-input {
    .metro-textbox;
  }
}

.property-suggestion-wrapper {
  .suggestion-label {}
  .suggestion-type {
    margin-left: 10px;
    font-size: 12px;
    color: gray;
  }
  .suggestion-identity {
    color: gray;
    margin-top: 4px;
  }
}

.property-name-wrapper {
  .auto-suggest-basic(300px);
}

.wrapping-bracet {}

.tags-container {
  padding-top: 4px;
  display: inline-block;
  max-width: 500px;
  overflow-y: auto;
  border-bottom: 1px solid @accent-color3;
  .tag-base {
    font-size: 12px;
    display: inline-block;
    color: black;
    height: 20px;
    box-sizing: border-box;
  }
  .tag {
    .tag-base;
    float: left;
    padding: 3px 3px 0 3px;
    .tag-delete-button {
      display: block;
      float: right;
      margin-top: 1px;
      margin-left: 6px;
      padding-left: 1px;
      padding-bottom: 4px;
      width: 9px;
      height: 9px;
      color: #8c8c8c;
      .transitioned();
      &:hover {
        cursor: pointer;
        color: #636363;
      }
      &:after {
        content: ';';
      }
    }
  }
  .tag-input {
    display: inline-block;
    input, input:focus {
      .tag-base;
      float: right;
      width: 65px;
      border: none;
      outline: none;
      padding-left: 3px;
    }
  }
}