@import (reference) "../../../../../styles/core/core.less";
.rule-value-container {
  .values-input {
    .metro-textbox;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    resize: none;
    font-size: 18px;
  }
  .add-variant-button {
    .metro-button;
  }
  .to-feature-flag-button {
    .metro-button;
  }
}

.identity-selection-title {
  font-size: 12px;
  color: darkgray;
}

.identity-selection-combobox-wrapper {
  display: inline-block;
}

.bernoulli-trial-container {
  display: inline-block;
  .bernoulli-trial-input-wrapper {
    display: inline-block;
    margin-top: 10px;
    label {
      font-size: 12px;
    }
    .bernoulli-trial-input {
      .metro-textbox(true);
      width: 40px;
    }
  }
  .bernoulli-trial-slider-wrapper {
    display: inline-block;
    position: relative;
    bottom: -4px;
    left: 10px;
  }
}

.set-bernoulli-button {
  .metro-button;
  display: inline-block;
  margin-left:25px;
}

.set-to-true-button {
  .set-bernoulli-button;
}

.set-to-false-button {
  .set-bernoulli-button;
}