@import (reference) "../../../../../styles/core/core.less";
.rule-value-container {
  .values-input {
    .metro-textbox;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    resize: none;
    font-family: calibri;
    font-size: 18px;
  }
  .add-variant-button {
    .metro-button;
  }
}