@import (reference) "../../../../../../../../../styles/core/core.less";
@import (reference) "../../../../../../../../../styles/core/comboBox.less";
@import (reference) "../../../../../../../../../styles/core/tags.less";
.matcher-operator {
  margin: 0 5px;
  display: inline-block;
  @width: 30px;
  .combo-box-basic(@width, @width);
}

.property-value-wrapper {
  .property-value-combo-box {
    .combo-box-basic(80px);
  }
  display: inline-block;
  .value-input {
    .metro-textbox;
  }
}

.property-suggestion-wrapper {
  .suggestion-label {}
  .suggestion-type {
    margin-left: 10px;
    font-size: 12px;
    color: gray;
  }
  .suggestion-identity {
    margin-top: 4px;
  }
}

.property-name-wrapper {
  .combo-box-basic(300px);
}

.tags-wrapper {
  .tags-basic;
  .tags-container {
    display: flex;
    max-width: 500px;
    min-width: 150px;
    overflow-y: auto;
    border-bottom: 1px solid @accent-color3;
    padding: 4px;
    box-sizing: border-box;
    &:before {
      content: '';
      margin: 0
    }
    .tag {
      padding: 2px 3px 2px 3px;
      margin: 0 5px 0 0;
    }
    .tag-input {
      display: inline-block;
      input, input:focus {
        background-color: transparent;
        width: 100px;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        font-size: 13px;
        font-weight: 500;
      }
    }
    .tags-suggestion {
      margin-top: 6px;
    }
  }
}