@import (reference) "../../../../../../../../../styles/core/core.less";
@import (reference) "../../../../../../../../../styles/core/comboBox.less";
@import (reference) "../../../../../../../../../styles/core/tags.less";
@import (reference) "./icons.less";

.matcher-operator {
  margin: 0 5px;
  display: inline-block;
  @width: 30px;
  .combo-box-basic(@width, @width);
}

.property-value-wrapper {
  .property-value-combo-box {
    .combo-box-basic(80px);
  }
  
  display: inline-block;
  .value-input {
    .metro-textbox;
  }
}

.property-suggestion-wrapper {
  padding: 8px 4px 8px 16px;
  .suggestion-label {}
  .suggestion-identity {
    margin-left: 10px;
    font-size: 12px;
    color: gray;
  }
  i{
    background: no-repeat;
    background-position: center center;
    background-size: 48px;
    width: 32px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    background-color: rgba(215, 215, 215, 0.49);
    border-radius: 16px;
    margin-right: 14px;
  }
  
  &[data-field-type=bool]{
    i{
      background-image: @bool_icon;
    }
  }
  &[data-field-type=string]{
    i{
      background-image: @string_icon;
    }
  }
  &[data-field-type=version]{
    i{
      background-image: @version_icon;
    }
  }
  &[data-field-type=enum]{
    i{
      background-image: @list_icon;
    }
  }
  &[data-field-type=number]{
    i{
      background-image: @number_icon;
    }
  }
}

.property-name-wrapper {
  .combo-box-basic(300px);
  :global(.bootstrap-typeahead) :global(.dropdown-menu) {
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: #d8d8d8;
      border: 3px solid #f1f1f1;
    }
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      border-radius: 6px;
    }

    min-width: 250px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #ffffff;
    li{
      background: transparent;
      border: none;
      a:first-child{
        padding:0;  
        color: #515c66;
      }
    }
  }
}

.tags-wrapper {
  .tags-basic;
  .tags-container {
    display: flex;
    max-width: 500px;
    min-width: 150px;
    overflow-y: auto;
    border-bottom: 1px solid @accent-color3;
    padding: 4px;
    box-sizing: border-box;
    &:before {
      content: '';
      margin: 0
    }
    .tag {
      padding: 2px 3px 2px 3px;
      margin: 0 5px 0 0;
    }
    .tag-input {
      display: inline-block;
      input, input:focus {
        background-color: transparent;
        width: 100px;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        font-size: 13px;
        font-weight: 500;
      }
    }
    .tags-suggestion {
      margin-top: 6px;
    }
  }
}