.context-details-container {
  min-width: 900px;
}
.context-details-container .context-title {
  display: flex;
  flex-direction: column;
}
.context-details-container .context-title .context-id {
  font-size: 22px;
  color: #515c66;
}
.context-details-container .context-title .context-type {
  margin-top: 10px;
  color: #a5a5a5;
  font-size: 14px;
}
