@background-color1: #ffffff;
@background-color2: #ffffff;
@background-color3: #ffffff;
@background-color4: #ffffff;
@background-color5: #ffffff;
@background-color6: #ffffff;
@accent-gray1: #fff;
@accent-gray2: #fff;
@accent-gray3: #fff;
@accent-gray4: #fff;
@accent-gray5: #fff;
@accent-gray6: #fff;
@accent-color1: #007acc;
@accent-color2: rgba(0, 122, 204, .8);
@accent-color3: rgba(0, 122, 204, .6);
@accent-color4: rgba(0, 122, 204, .5);
@accent-color5: rgba(0, 122, 204, .4);
@accent-color6: rgba(0, 122, 204, .2);
@accent-active: #0098ff;
@accent-foreground: white;