version: '2'
services:
  keys:
    image: $KEYS_IMAGE

  git:
    image: $REPOSITORY_IMAGE
    environment:
      - PUBLIC_KEY_INLINE=c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCQVFERXdpL1RBQ2d3MGV5eEhQMGVpT3pySUo2U1gwT3YwUXE1bm5TQzMvSEx4azRMTkFsNmRlaWVoTEd0VDRUcVFvdzltcGJ3ZzlTSHNhSDhrZWJVVmF6VjVQQnJkblg1UVFXU0xkRDE0TVVnOU03Zm1kcXBYU2xTdGpiQW90TmFmZXp1OTJGd0JJNWUrNk96S3EraVVJK1FTcXNCUzRoQmFEbkFiUWtPNm5HZi9TMUVpaW80NGZYcUovRmxpdnNNTGo4RW0rQWZxTzJTN21mbGN3dndDSzZEQ25DVkpKSWJ5KzU2NjltYWZCUjBtQ283Y05RY3U1S2tXbEM3WW5vWEsveDFScGhQVlcycGYySEV1SWVZWVJFcUV2N21ROGJoM1hjR2gzbE5kVjJqckhGOEk5cUdGU2ZPVjB4NndEUnY5VnBEd0NKQ0dTZ0p4Q0pzNXF0VHZUZEYgeXNoYXlAWXNoYXktUEMK
  
  publishing:
    image: $PUBLISHING_IMAGE
    depends_on:
      - git
      - minio
      - nats
    logging:
      driver: "none"    
    environment:
      - GIT_PUBLIC_KEY_INLINE=c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCQVFERXdpL1RBQ2d3MGV5eEhQMGVpT3pySUo2U1gwT3YwUXE1bm5TQzMvSEx4azRMTkFsNmRlaWVoTEd0VDRUcVFvdzltcGJ3ZzlTSHNhSDhrZWJVVmF6VjVQQnJkblg1UVFXU0xkRDE0TVVnOU03Zm1kcXBYU2xTdGpiQW90TmFmZXp1OTJGd0JJNWUrNk96S3EraVVJK1FTcXNCUzRoQmFEbkFiUWtPNm5HZi9TMUVpaW80NGZYcUovRmxpdnNNTGo4RW0rQWZxTzJTN21mbGN3dndDSzZEQ25DVkpKSWJ5KzU2NjltYWZCUjBtQ283Y05RY3U1S2tXbEM3WW5vWEsveDFScGhQVlcycGYySEV1SWVZWVJFcUV2N21ROGJoM1hjR2gzbE5kVjJqckhGOEk5cUdGU2ZPVjB4NndEUnY5VnBEd0NKQ0dTZ0p4Q0pzNXF0VHZUZEYgeXNoYXlAWXNoYXktUEMK
      - GIT_SERVER_PRIVATE_KEY_INLINE=eWFybiBydW4gdjEuMy4yCiQgZG9ja2VyLWNvbXBvc2UgLWYgLi9kZXBsb3ltZW50cy9kZXYvZG9ja2VyLWNvbXBvc2UueW1sIC1mIC4vZGVwbG95bWVudHMvZGV2L2RvY2tlci1jb21wb3NlLm92ZXJyaWRlLnltbCBleGVjIHB1Ymxpc2hpbmcgY2F0IC90bXAvc3NoX3NlcnZlcgotLS0tLUJFR0lOIFJTQSBQUklWQVRFIEtFWS0tLS0tDQpNSUlFcEFJQkFBS0NBUUVBeE1JdjB3QW9NTkhzc1J6OUhvanM2eUNla2w5RHI5RUt1WjUwZ3QveHk4Wk9DelFKDQplblhvbm9TeHJVK0U2a0tNUFpxVzhJUFVoN0doL0pIbTFGV3MxZVR3YTNaMStVRUZraTNROWVERklQVE8zNW5hDQpxVjBwVXJZMndLTFRXbjNzN3ZkaGNBU09YdnVqc3lxdm9sQ1BrRXFyQVV1SVFXZzV3RzBKRHVweG4vMHRSSW9xDQpPT0gxNmlmeFpZcjdEQzQvQkp2Z0g2anRrdTVuNVhNTDhBaXVnd3B3bFNTU0c4dnVldXZabW53VWRKZ3FPM0RVDQpITHVTcEZwUXUySjZGeXY4ZFVhWVQxVnRxWDloeExpSG1HRVJLaEwrNWtQRzRkMTNCb2Q1VFhWZG82eHhmQ1BhDQpoaFVuemxkTWVzQTBiL1ZhUThBaVFoa29DY1FpYk9hclU3MDNSUUlEQVFBQkFvSUJBUUNaak5ZWHU3S2h6dUlCDQpvcGJpNG9iS1JDMmNHMTVPY2p3RmVlU0JVbFYzNnExelRzdnExdU9QK2d4VExaQ1Q1UlZlNmlyTFRvWm8wemFRDQpUaWl2SXFGOFYydE00aWpWT1dvb2x6clE5L1cvYjIyVzBKSDF4RytBVGhWU3BuOTh5bk5DVnFxaTZkdFZ3dG9RDQo4OG9YU1BtUTZNU2xnUlczdmFmOFJOdGgyWktOQUg5N1k4cGpWTVgvcUxMMW5aOTVicW9yUklMUnp6S0dKanFHDQplN0VpeFQ0a0JaemxHWUF5a1dVeFFZZzBkdTlnQjc1U1o2MHNwZzVUQlh5a3RXdzVIWG1ZWlMvSHdCOVRKbG1XDQpUanlWdE9lVmxqT0ZiOFZnSHBNd3d1Mk1vcjdWUEFQd2dEWHVxRk1XdkZ6cVViSGNVS3JXMGdCSExqWFNQbVM2DQowTDFJM2NXQkFvR0JBUE94eXFKZnhyelVDUG4zcDNtWTZyNmdseVhiLytlYVhhNDY3c05ZOE1acFZkbDVtUUpWDQpuOEdRN3FYaklaa2pCU2E5YzZZQThxOFRLVHlJbEcvTDE1OFVSaFRqZldNSC9nandaem1oSmVkL0N6Lzg1Y2V4DQpsUWw3bE4vUjI0VGIzd1UxNjNtRXluaEdSVzVLd3FjVTVvRUJtbjkvWWs4aGlia2k2aEk2NEFobEFvR0JBTTZ4DQpxUFpuL25odjh1K21PZTdjelNWNUxzd2ZNM1NTc25mWGdRUlc3cnpraGtmclFaMmVYekVDbWhWTy91SlZvTWJUDQpoQS9tUXRYRzVuMk9QMndmSk1LVUNiVVZ2ZTJYNUQxU1VGYk03dWVHU3JlWExXdXJzaHdnN1p6VlpxVDYzUEJSDQpqVGtRRTRydWtWRUszTTBVUDlJTVZ3c2FEajI4K2NNUWZOTkZodFZoQW9HQUNUOXErQ1I0VHp3Z3B4TzkyRUIwDQpVQTJhRHNhOWZGV0FUcGRQN2p2V3owQzZFRW1zQThtcUNWZHRwdi9xaTN3bnV1T2ZtdUlZVTRwL214dDN2cEpXDQp1V08wa1NCYzVzQXI1THp5dmQ0ZXFSMUtHUUNJMjc0aWNMeXUxcHVKSUE2VDlRZXB5dSsrR3poWGRDc0VIZ0VPDQpDa0U4VXJCTDA4THJEZ3FFSlhMMGczMENnWUJtMHpVbUdBZ2RMRHdrQW9MUmxLQ3Q0c0pvSTZGNmZid3hLRkZ6DQpzamVrV3Q5K2ljZWp2UFRJTWU0cmFaZ2RTdEhuOTdPOElTWGdxY2xpYnRDWVhrbndUcXNobmdaVlczbmRFOFVKDQoyWHVFVEdlQk84RUp6bW1WMnIrNmhPTkNjZFpWNjR3ZzlpRnl2VW9ua2dyVUx4MnN4aHpMVmhQOW5MUjMyUXp3DQpJYWQ1SVFLQmdRRFhwYVNubHhnK28zMldBR3dHc0F4cTVDVytyRXBPOFBDRG8rUmVlNnZjRjduSWYveTRzUlB1DQo0MWlwWjZYeFlwd2dSRDd6blpqejlBZVZoRzhpQUFBQk5GVTFKRlRpWGlnUERaLzA4WUUwdGdDVmIvRU9XZnFUDQptS0NBTUgrSjJZWUlwb3NLL3dyQmRXQ1RiUHYvYUI3RkVraFFLeGVJTXYxd0trd2tSaU5BQ0E9PQ0KLS0tLS1FTkQgUlNBIFBSSVZBVEUgS0VZLS0tLS0NCkRvbmUgaW4gMC42NHMuCg==
      - GIT_UPSTREAM_URI=ssh://git@git/tweek/tests
      - MINIO__Endpoint=minio:9000
      - MINIO__AccessKey=AKIAIOSFODNN7EXAMPLE
      - MINIO__SecretKey=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      - MINIO__Bucket=tweek-bucket
      - NATS__Endpoint=nats://nats:4222
      
  api:
    image: $API_IMAGE
    depends_on:
      - minio
      - redis
      - nats
    logging:
      driver: "none"
    environment:
      - Rules__Minio__Endpoint=minio:9000
      - Rules__Minio__AccessKey=AKIAIOSFODNN7EXAMPLE
      - Rules__Minio__SecretKey=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      - Rules__Nats__Endpoint=nats://nats:4222
      - UseAddon__Rules=MinioRules
      - RulesetVersionProvider=NatsVersionProvider
      - PUBLIC_KEY_INLINE=MIIElAIBAzCCBFoGCSqGSIb3DQEHAaCCBEsEggRHMIIEQzCCBD8GCSqGSIb3DQEHBqCCBDAwggQsAgEAMIIEJQYJKoZIhvcNAQcBMBwGCiqGSIb3DQEMAQYwDgQIQLuW21q/z3wCAggAgIID+HlU4K9+e3s0EmVWGpzX+MXQUdKV4Jk2SXsvXGoBoq/P2dpzkV9Uyq7ybjTv6dpesb9eikaRTsL4w6QW/79ScGUZBj9SogQIMfdxmqqjr6sTQExwZMecxbzWziCsWMfKb+kyH4zWmGpTcFYQFjw3o1Btky6hKchBamPEmhMSO9lFFG5JxSLVUj6i8NiQo9xcLYOAtnebNaXM+e3yEuWNBcIGBIwc8qufnxr3lJgQBeHX4z4D+pS0z8vs4sXtJr5/5bc07xPCLl0OkAMBFmux3BiPI96Me1YtUSax0q83JRxM8LHdtncec/f1v7Jx4jlEFY5hx0k9XUjH/TyLY/oLC95NbJg14vZbNxPpOxNeZST7srF1fybGNTgczrfcuKtPLb3O+gaad4b3oDFWuM7yExFx5KjqsrRikt/zCGTrcKHadJ/6eLqhzYDm6nlaFHViQo5E0Yj8SOCApD5lRqlN033fTD0S/vrgyESlRKS6hZl9YC5FCXnKX899CDiRfvMBCMPKs7dxl4LrfJtuIv3jgqp7+X44MSrrRDX6lgJqsYsYNHTcKUSKkp2JzRvbs8J7oa0cOKC96t1KHLcMk7iffx4qqqrSGEKlSzPWi4U4L8ZU8m0vzvddoovr6bQoXBeBOeAyBrzEoNWdQ4HAMRSe0w3fKpV1ygJeK8LdR3q3G2rdLs8obiQ+0I+tJg83+Jdz69nR7ljiygLhVexyFoZgj/kAMKT5rUrocMslSw9n+gzQXxX43Os2bsVok2i0Wt8P+PSsc0RYc8XJgc54tQNt4coeaJRCr+4i/Ga0zjelHY6Z5rDsouu88RPL3oOX1dmrjw/RN3Y7klxckYFAQJMRGDnMW5aM/QeSoAxxmMjlkxbvd2etXI8SqRIEUginvYmnh0fYZ7Vo4o72LVTWS8M4nhmqR1AMxr1BNXk9Uwlp50+Amr4lZHSnl/8HgoFnBYjex57ZjRAoAJ0+ffQXl87Bv31BU1MNi//jlzApCVkCZ5uoVDSBAaSyD/Hwd8uLyeJF1ugDZinfaHjpJaIXEgK+jyju/EhhtKMGeKXnMtKATL/O2Tl/4O8V6UGuk9lrojO9t7wHHbxt1SfpQpvW2aAKzxf9GFSdOob9J1LXnik0LKwWhXHsyYNtFm9WMgacc3xoTs/GkiTJHsyjVcSon8DmET5GMaTVlxGk2lZcgg4Sd6DKTciL2Q8WRybrvSeKcC/njUKw9fylD0dbp6fZ7GrxsvGULHROJfVKNIj05tcciDtXchwOY18OQp/sHRkbymfRufExjRxViu0S8STXMbxd4Cp0FWaaDL6jSvEVbkPdgPk6r7DWgk0Yetai9E1YDYv4jQ8wdlGNH+WXMDEwITAJBgUrDgMCGgUABBS0j+Z1HX5UVJrqbq2mqww5ZHHE9QQIKcY2oy1jhcsCAggA
      - Redis__ConnectionString=redis:6379
      - CorsPolicies__Keys__Origins=http://editor:3000,http://testorigin
      - CorsPolicies__Keys__Methods=GET
      - CorsPolicies__Keys__MaxPreflightAge=60
      - CorsEnabled=true
      - CorsPolicies__Keys__Headers=
      - CorsPolicies__Keys__ExposedHeaders=
      
  authoring:
    image: $AUTHORING_IMAGE
    depends_on:
      - publishing
    logging:
      driver: "none"
    environment:
      - GIT_USER=git
      - GIT_URL=ssh://git@publishing/tweek/repo
      - GIT_PRIVATE_KEY_INLINE=eWFybiBydW4gdjEuMy4yCiQgZG9ja2VyLWNvbXBvc2UgLWYgLi9kZXBsb3ltZW50cy9kZXYvZG9ja2VyLWNvbXBvc2UueW1sIC1mIC4vZGVwbG95bWVudHMvZGV2L2RvY2tlci1jb21wb3NlLm92ZXJyaWRlLnltbCBleGVjIHB1Ymxpc2hpbmcgY2F0IC90bXAvc3NoX3NlcnZlcgotLS0tLUJFR0lOIFJTQSBQUklWQVRFIEtFWS0tLS0tDQpNSUlFcEFJQkFBS0NBUUVBeE1JdjB3QW9NTkhzc1J6OUhvanM2eUNla2w5RHI5RUt1WjUwZ3QveHk4Wk9DelFKDQplblhvbm9TeHJVK0U2a0tNUFpxVzhJUFVoN0doL0pIbTFGV3MxZVR3YTNaMStVRUZraTNROWVERklQVE8zNW5hDQpxVjBwVXJZMndLTFRXbjNzN3ZkaGNBU09YdnVqc3lxdm9sQ1BrRXFyQVV1SVFXZzV3RzBKRHVweG4vMHRSSW9xDQpPT0gxNmlmeFpZcjdEQzQvQkp2Z0g2anRrdTVuNVhNTDhBaXVnd3B3bFNTU0c4dnVldXZabW53VWRKZ3FPM0RVDQpITHVTcEZwUXUySjZGeXY4ZFVhWVQxVnRxWDloeExpSG1HRVJLaEwrNWtQRzRkMTNCb2Q1VFhWZG82eHhmQ1BhDQpoaFVuemxkTWVzQTBiL1ZhUThBaVFoa29DY1FpYk9hclU3MDNSUUlEQVFBQkFvSUJBUUNaak5ZWHU3S2h6dUlCDQpvcGJpNG9iS1JDMmNHMTVPY2p3RmVlU0JVbFYzNnExelRzdnExdU9QK2d4VExaQ1Q1UlZlNmlyTFRvWm8wemFRDQpUaWl2SXFGOFYydE00aWpWT1dvb2x6clE5L1cvYjIyVzBKSDF4RytBVGhWU3BuOTh5bk5DVnFxaTZkdFZ3dG9RDQo4OG9YU1BtUTZNU2xnUlczdmFmOFJOdGgyWktOQUg5N1k4cGpWTVgvcUxMMW5aOTVicW9yUklMUnp6S0dKanFHDQplN0VpeFQ0a0JaemxHWUF5a1dVeFFZZzBkdTlnQjc1U1o2MHNwZzVUQlh5a3RXdzVIWG1ZWlMvSHdCOVRKbG1XDQpUanlWdE9lVmxqT0ZiOFZnSHBNd3d1Mk1vcjdWUEFQd2dEWHVxRk1XdkZ6cVViSGNVS3JXMGdCSExqWFNQbVM2DQowTDFJM2NXQkFvR0JBUE94eXFKZnhyelVDUG4zcDNtWTZyNmdseVhiLytlYVhhNDY3c05ZOE1acFZkbDVtUUpWDQpuOEdRN3FYaklaa2pCU2E5YzZZQThxOFRLVHlJbEcvTDE1OFVSaFRqZldNSC9nandaem1oSmVkL0N6Lzg1Y2V4DQpsUWw3bE4vUjI0VGIzd1UxNjNtRXluaEdSVzVLd3FjVTVvRUJtbjkvWWs4aGlia2k2aEk2NEFobEFvR0JBTTZ4DQpxUFpuL25odjh1K21PZTdjelNWNUxzd2ZNM1NTc25mWGdRUlc3cnpraGtmclFaMmVYekVDbWhWTy91SlZvTWJUDQpoQS9tUXRYRzVuMk9QMndmSk1LVUNiVVZ2ZTJYNUQxU1VGYk03dWVHU3JlWExXdXJzaHdnN1p6VlpxVDYzUEJSDQpqVGtRRTRydWtWRUszTTBVUDlJTVZ3c2FEajI4K2NNUWZOTkZodFZoQW9HQUNUOXErQ1I0VHp3Z3B4TzkyRUIwDQpVQTJhRHNhOWZGV0FUcGRQN2p2V3owQzZFRW1zQThtcUNWZHRwdi9xaTN3bnV1T2ZtdUlZVTRwL214dDN2cEpXDQp1V08wa1NCYzVzQXI1THp5dmQ0ZXFSMUtHUUNJMjc0aWNMeXUxcHVKSUE2VDlRZXB5dSsrR3poWGRDc0VIZ0VPDQpDa0U4VXJCTDA4THJEZ3FFSlhMMGczMENnWUJtMHpVbUdBZ2RMRHdrQW9MUmxLQ3Q0c0pvSTZGNmZid3hLRkZ6DQpzamVrV3Q5K2ljZWp2UFRJTWU0cmFaZ2RTdEhuOTdPOElTWGdxY2xpYnRDWVhrbndUcXNobmdaVlczbmRFOFVKDQoyWHVFVEdlQk84RUp6bW1WMnIrNmhPTkNjZFpWNjR3ZzlpRnl2VW9ua2dyVUx4MnN4aHpMVmhQOW5MUjMyUXp3DQpJYWQ1SVFLQmdRRFhwYVNubHhnK28zMldBR3dHc0F4cTVDVytyRXBPOFBDRG8rUmVlNnZjRjduSWYveTRzUlB1DQo0MWlwWjZYeFlwd2dSRDd6blpqejlBZVZoRzhpQUFBQk5GVTFKRlRpWGlnUERaLzA4WUUwdGdDVmIvRU9XZnFUDQptS0NBTUgrSjJZWUlwb3NLL3dyQmRXQ1RiUHYvYUI3RkVraFFLeGVJTXYxd0trd2tSaU5BQ0E9PQ0KLS0tLS1FTkQgUlNBIFBSSVZBVEUgS0VZLS0tLS0NCkRvbmUgaW4gMC42NHMuCg==
      - GIT_PUBLIC_KEY_INLINE=c3NoLXJzYSBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFCQVFERXdpL1RBQ2d3MGV5eEhQMGVpT3pySUo2U1gwT3YwUXE1bm5TQzMvSEx4azRMTkFsNmRlaWVoTEd0VDRUcVFvdzltcGJ3ZzlTSHNhSDhrZWJVVmF6VjVQQnJkblg1UVFXU0xkRDE0TVVnOU03Zm1kcXBYU2xTdGpiQW90TmFmZXp1OTJGd0JJNWUrNk96S3EraVVJK1FTcXNCUzRoQmFEbkFiUWtPNm5HZi9TMUVpaW80NGZYcUovRmxpdnNNTGo4RW0rQWZxTzJTN21mbGN3dndDSzZEQ25DVkpKSWJ5KzU2NjltYWZCUjBtQ283Y05RY3U1S2tXbEM3WW5vWEsveDFScGhQVlcycGYySEV1SWVZWVJFcUV2N21ROGJoM1hjR2gzbE5kVjJqckhGOEk5cUdGU2ZPVjB4NndEUnY5VnBEd0NKQ0dTZ0p4Q0pzNXF0VHZUZEYgeXNoYXlAWXNoYXktUEMK
      
  editor:
    image: $EDITOR_IMAGE
    depends_on:
      - gateway
    volumes_from:
      - keys
    logging:
      driver: "none"
    environment:
      - GIT_PRIVATE_KEY_INLINE=eWFybiBydW4gdjEuMy4yCiQgZG9ja2VyLWNvbXBvc2UgLWYgLi9kZXBsb3ltZW50cy9kZXYvZG9ja2VyLWNvbXBvc2UueW1sIC1mIC4vZGVwbG95bWVudHMvZGV2L2RvY2tlci1jb21wb3NlLm92ZXJyaWRlLnltbCBleGVjIHB1Ymxpc2hpbmcgY2F0IC90bXAvc3NoX3NlcnZlcgotLS0tLUJFR0lOIFJTQSBQUklWQVRFIEtFWS0tLS0tDQpNSUlFcEFJQkFBS0NBUUVBeE1JdjB3QW9NTkhzc1J6OUhvanM2eUNla2w5RHI5RUt1WjUwZ3QveHk4Wk9DelFKDQplblhvbm9TeHJVK0U2a0tNUFpxVzhJUFVoN0doL0pIbTFGV3MxZVR3YTNaMStVRUZraTNROWVERklQVE8zNW5hDQpxVjBwVXJZMndLTFRXbjNzN3ZkaGNBU09YdnVqc3lxdm9sQ1BrRXFyQVV1SVFXZzV3RzBKRHVweG4vMHRSSW9xDQpPT0gxNmlmeFpZcjdEQzQvQkp2Z0g2anRrdTVuNVhNTDhBaXVnd3B3bFNTU0c4dnVldXZabW53VWRKZ3FPM0RVDQpITHVTcEZwUXUySjZGeXY4ZFVhWVQxVnRxWDloeExpSG1HRVJLaEwrNWtQRzRkMTNCb2Q1VFhWZG82eHhmQ1BhDQpoaFVuemxkTWVzQTBiL1ZhUThBaVFoa29DY1FpYk9hclU3MDNSUUlEQVFBQkFvSUJBUUNaak5ZWHU3S2h6dUlCDQpvcGJpNG9iS1JDMmNHMTVPY2p3RmVlU0JVbFYzNnExelRzdnExdU9QK2d4VExaQ1Q1UlZlNmlyTFRvWm8wemFRDQpUaWl2SXFGOFYydE00aWpWT1dvb2x6clE5L1cvYjIyVzBKSDF4RytBVGhWU3BuOTh5bk5DVnFxaTZkdFZ3dG9RDQo4OG9YU1BtUTZNU2xnUlczdmFmOFJOdGgyWktOQUg5N1k4cGpWTVgvcUxMMW5aOTVicW9yUklMUnp6S0dKanFHDQplN0VpeFQ0a0JaemxHWUF5a1dVeFFZZzBkdTlnQjc1U1o2MHNwZzVUQlh5a3RXdzVIWG1ZWlMvSHdCOVRKbG1XDQpUanlWdE9lVmxqT0ZiOFZnSHBNd3d1Mk1vcjdWUEFQd2dEWHVxRk1XdkZ6cVViSGNVS3JXMGdCSExqWFNQbVM2DQowTDFJM2NXQkFvR0JBUE94eXFKZnhyelVDUG4zcDNtWTZyNmdseVhiLytlYVhhNDY3c05ZOE1acFZkbDVtUUpWDQpuOEdRN3FYaklaa2pCU2E5YzZZQThxOFRLVHlJbEcvTDE1OFVSaFRqZldNSC9nandaem1oSmVkL0N6Lzg1Y2V4DQpsUWw3bE4vUjI0VGIzd1UxNjNtRXluaEdSVzVLd3FjVTVvRUJtbjkvWWs4aGlia2k2aEk2NEFobEFvR0JBTTZ4DQpxUFpuL25odjh1K21PZTdjelNWNUxzd2ZNM1NTc25mWGdRUlc3cnpraGtmclFaMmVYekVDbWhWTy91SlZvTWJUDQpoQS9tUXRYRzVuMk9QMndmSk1LVUNiVVZ2ZTJYNUQxU1VGYk03dWVHU3JlWExXdXJzaHdnN1p6VlpxVDYzUEJSDQpqVGtRRTRydWtWRUszTTBVUDlJTVZ3c2FEajI4K2NNUWZOTkZodFZoQW9HQUNUOXErQ1I0VHp3Z3B4TzkyRUIwDQpVQTJhRHNhOWZGV0FUcGRQN2p2V3owQzZFRW1zQThtcUNWZHRwdi9xaTN3bnV1T2ZtdUlZVTRwL214dDN2cEpXDQp1V08wa1NCYzVzQXI1THp5dmQ0ZXFSMUtHUUNJMjc0aWNMeXUxcHVKSUE2VDlRZXB5dSsrR3poWGRDc0VIZ0VPDQpDa0U4VXJCTDA4THJEZ3FFSlhMMGczMENnWUJtMHpVbUdBZ2RMRHdrQW9MUmxLQ3Q0c0pvSTZGNmZid3hLRkZ6DQpzamVrV3Q5K2ljZWp2UFRJTWU0cmFaZ2RTdEhuOTdPOElTWGdxY2xpYnRDWVhrbndUcXNobmdaVlczbmRFOFVKDQoyWHVFVEdlQk84RUp6bW1WMnIrNmhPTkNjZFpWNjR3ZzlpRnl2VW9ua2dyVUx4MnN4aHpMVmhQOW5MUjMyUXp3DQpJYWQ1SVFLQmdRRFhwYVNubHhnK28zMldBR3dHc0F4cTVDVytyRXBPOFBDRG8rUmVlNnZjRjduSWYveTRzUlB1DQo0MWlwWjZYeFlwd2dSRDd6blpqejlBZVZoRzhpQUFBQk5GVTFKRlRpWGlnUERaLzA4WUUwdGdDVmIvRU9XZnFUDQptS0NBTUgrSjJZWUlwb3NLL3dyQmRXQ1RiUHYvYUI3RkVraFFLeGVJTXYxd0trd2tSaU5BQ0E9PQ0KLS0tLS1FTkQgUlNBIFBSSVZBVEUgS0VZLS0tLS0NCkRvbmUgaW4gMC42NHMuCg
      - TWEEK_API_HOSTNAME=http://api
      - AUTHORING_API_HOSTNAME=http://authoring:3000
      - REQUIRE_AUTH=true
      - TWEEK_AUTH_SCHEMES=httpDigest
      - AUTH_DIGEST_CREDENTIALS=user:pwd

  gateway:
    image: $SECUREGATEWAY_IMAGE
    depends_on:
      - minio
      - nats
      - api
      - authoring
    logging:
      driver: "json-file"
    volumes_from:
      - keys
    environment:
      - TWEEKGATEWAY_SECURITY_CORS_ENABLED=true
      - TWEEKGATEWAY_SECURITY_CORS_MAXAGE=60
      - TWEEKGATEWAY_SECURITY_CORS_ALLOWEDORIGINS=null
      - TWEEKGATEWAY_SECURITY_CORS_ALLOWEDMETHODS=['GET','POST','PUT','PATCH','DELETE']
      - TWEEKGATEWAY_SECURITY_CORS_ALLOWEDHEADERS=null
      - TWEEKGATEWAY_SECURITY_CORS_ALLOWCREDENTIALS=true
      - TWEEKGATEWAY_SECURITY_POLICYSTORAGE_MINIOENDPOINT=minio:9000
      - TWEEKGATEWAY_SECURITY_POLICYSTORAGE_MINIOBUCKETNAME=tweek-bucket
      - TWEEKGATEWAY_SECURITY_POLICYSTORAGE_MINIOACCESSKEY=AKIAIOSFODNN7EXAMPLE
      - TWEEKGATEWAY_SECURITY_POLICYSTORAGE_MINIOSECRETKEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      - TWEEKGATEWAY_SECURITY_POLICYSTORAGE_MINIOSECURE=false
      - TWEEKGATEWAY_SECURITY_POLICYSTORAGE_MINIOPOLICYOBJECTNAME=policy.csv
      - TWEEKGATEWAY_SECURITY_POLICYSTORAGE_NATSENDPOINT=nats://nats:4222
      - TWEEKGATEWAY_SECURITY_POLICYSTORAGE_NATSSUBJECT=version
      - TWEEKGATEWAY_SECURITY_TWEEKSECRETKEYPATH=/gitkeys/tweekgit
      - CONFIG_FILE_PATH=/config/gateway.json

  redis:
    image: redis:4.0.2-alpine
    expose:
      - "6379"
    logging:
      driver: "none"

  minio:
    image: minio/minio
    logging:
      driver: "none"
    command: server /data
    environment:
      - MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
      - MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      
  nats:
    image: nats:1.0.4-linux 

  selenium:
    image: selenium/standalone-chrome:3.8.1
    logging:
      driver: "none"

  zap-smoke:
    image: $ZAP_IMAGE
    logging:
      driver: "none"
    user: root
    volumes:
      - ${CF_VOLUME_PATH}/tweek/deployments/dev/zap/session/smoke:/root/.ZAP/session/smoke

  zap-e2e:
    image: $ZAP_IMAGE
    logging:
      driver: "none"
    user: root
    volumes:
      - ${CF_VOLUME_PATH}/tweek/deployments/dev/zap/session/e2e:/root/.ZAP/session/e2e
  
