<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="appveyor" value="https://ci.appveyor.com/nuget/soluto" />
  </packageSources>
  <disabledPackageSources />
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSourceCredentials>
    <appveyor>
      <add key="Username" value="${APPVEYOUR_USERNAME}" />
      <add key="ClearTextPassword" value="${APPVEYOUR_PASSWORD}" />
    </appveyor>
  </packageSourceCredentials>
</configuration>