@import (reference) "../../../../../../../styles/core/core.less";

.editor {
  margin-top: 15px;
  position: relative;
  box-shadow: 0 10px 9px -10px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgray;
  margin-bottom: 16px;
}

.save-code-changes-button {
  .small-metro-button;
  margin-bottom: 16px;
}