@import (reference) "../../../styles/core/core.less";
.editable-text-container {
  @text-color: #515c66;
  border: 1px solid transparent;
  .editable-text-input {
    color: @text-color;
    box-sizing: border-box;
  }
  .editable-text-value {
    color: @text-color;
    margin-left: 4px;
  }
}