@import (reference) "../../../../styles/core/accents.less";
@import (reference) "../../../../styles/core/core.less";
.key-rules-editor-container {
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
  .tab-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .tab-header {
      display: inline-block;
      .tab-icon {
        float: left;
      }
      .rule-definition-tab-icon {
        .tab-icon;
        margin-top: 1px;
        width: 14px;
      }
      .rule-source-tab-icon {
        .tab-icon;
        width: 22px;
        margin-top: 5px;
      }
      .tab-title {
        font-size: 14px;
        margin-left: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .rule-def-json {
      font-size: 13px;
    }
  }
  .tab-content {
    overflow-y: auto;
    flex-grow: 1;
    border: 1px solid lightgray;
    padding: 25px;
    background-color: white;
  }
}

:global(.ReactTabs__TabList) {
  @tab-item-border-bottom-height: 3px;
  :global(.ReactTabs__Tab) {
    display: inline-block;
    border-width: 1px 1px @tab-item-border-bottom-height 1px;
    border-right: 0;
    border-color: lightgray;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    padding: 10px 30px;
    outline: none;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    .transitioned();
    &:last-child {
      border-right: 1px solid lightgray;
    }
    &:hover {
      border-bottom: @tab-item-border-bottom-height solid @accent-color6;
      cursor: pointer;
    }
    &:active {
      border-bottom: @tab-item-border-bottom-height solid @accent-color3;
    }
  }
  :global(.ReactTabs__Tab--selected) {
    border-bottom: @tab-item-border-bottom-height solid @accent-color4;
    background-color: white;
    &:hover {
      border-bottom: @tab-item-border-bottom-height solid @accent-color4;
      cursor: default;
    }
    &:active {
      border-bottom: @tab-item-border-bottom-height solid @accent-color4;
    }
  }
}

:global(.ReactTabs__TabPanel) {}