.key-rules-editor-container {
  display: flex;
  flex-grow: 1;
}
.key-rules-editor-container .tab-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.key-rules-editor-container .tab-content {
  overflow-y: auto;
}
