.app {
  padding-top: 60px;
}
.app .menu {
  margin-left: 20px;
}
.app .menu li {
  vertical-align: top;
  padding: 20px 20px;
  display: inline-block;
}
.app .menu li a:visited,
.app .menu li a:hover,
.app .menu li a:link {
  color: #007acc;
  text-decoration: none;
  font-size: 17px;
}
.app .header {
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  align-items: center;
}
.app .header .logo {
  margin: 5px 0 0 10px;
  width: 150px;
}
