@import (reference) "../styles/core/core.less";
.app {
    padding-top: 60px;
    .menu {
        margin-left: 20px;
        li {
            vertical-align: top;
            padding: 20px 20px;
            display: inline-block;
            a {
                &:visited, &:hover, &:link {
                    color: @accent-color1;
                    text-decoration: none;
                    font-size: 17px;
                }
            }
        }
    }
    .header {
        top: 0;
        left: 0;
        right: 0;
        height: 64px;
        display: flex;
        position: fixed;
        background-color: #f0f0f0;
        border-bottom: 1px solid lightgray;
        align-items: center;
        .logo {
            margin: 5px 0 0 10px;
            width: 130px;
        }
    }
}