.app {
  padding-top: 60px;
}
.app .menu {
  padding: 0;
  margin: 0;
}
.app .menu li {
  vertical-align: top;
  padding: 20px 20px;
  display: inline-block;
}
.app .menu li a:visited,
.app .menu li a:hover,
.app .menu li a:link {
  color: #007aff;
  text-decoration: none;
  font-size: 20px;
  font-family: Calibri;
}
.app .header {
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  position: fixed;
  background-color: #252525;
  align-items: center;
}
.app .header img {
  margin: 0 30px 0 10px;
}
