@import "../../../../styles/core/core.less";

.identity-page {
   margin: 20px;
   flex-grow: 1;
   h3{
     margin-bottom: 20px;
   }
   *[role=tablist]{
     display: flex;
   }
   *[role=tabpanel]{
     padding: 10px;
     background-color: white;
     border:1px solid lightgray;
     border-collapse: collapse;
   }

}

.property-types-list {
  .empty-property-types-list-label {
    color: #d0d0d0;
    font-style: italic;
    margin: 7px 35px 0;
    letter-spacing: 2px;
    cursor: default;
  }
}
