.context-properties-container .context-properties-title {
  font-size: 22px;
  color: #a5a5a5;
  margin-bottom: 20px;
}
.context-properties-container .property-list {
  display: flex;
  flex-flow: row wrap;
}
.context-properties-container .property-list .property-wrapper {
  margin-right: 60px;
  display: flex;
}
.context-properties-container .property-list .property-wrapper > input,
.context-properties-container .property-list .property-wrapper > div {
  margin: 5px;
}
