.identities-list-container {
  display: flex;
  color: #d8d8d8;
  flex-direction: column;
  background-color: transparent;
}
.identities-list-container .identity-link-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 400px;
  min-width: 400px;
}
.identities-list-container .identity-link-wrapper .identity-link {
  font-size: 16px;
  display: flex;
  flex-grow: 1;
  height: 30px;
  padding-left: 20px;
  padding-top: 13px;
  color: #d8d8d8;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.identities-list-container .identity-link-wrapper .identity-link:hover {
  background-color: #363a3e;
  cursor: pointer;
}
.identities-list-container .identity-link-wrapper .identity-link:active {
  background-color: #363a3e;
}
.identities-list-container .identity-link-wrapper .identity-link.selected {
  background-color: #686e74;
}
