.keys-list-container {
  display: flex;
  color: #d8d8d8;
  flex-direction: column;
  background-color: transparent;
}
.keys-list-container .search-results {
  display: flex;
  flex-direction: column;
}
.keys-list-container .view-selector {
  display: flex;
  min-height: 30px;
}
.keys-list-container .view-selector button {
  cursor: pointer;
  flex: 1;
}
.keys-list-container .search-input-wrapper {
  background-color: transparent;
  border-bottom: solid 1px #363a3e;
  padding: 18px;
}
.keys-list-container .search-input-wrapper .search-input {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid rgba(0, 122, 204, 0.5);
  height: 28px;
  width: 150px;
  padding: 0 4px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: #515C66;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+U2VhcmNoIEljb24gPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlR3ZWVrLWljb25zIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPiAgICAgICAgPGcgaWQ9IlNlYXJjaC1JY29uLSIgc3Ryb2tlPSIjNjk2OTY5IiBzdHJva2Utd2lkdGg9IjIiPiAgICAgICAgICAgIDxnIGlkPSJTZWFyY2gtaWNvbiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUuMDAwMDAwLCAxNS4wMDAwMDApIj4gICAgICAgICAgICAgICAgPHBhdGggZD0iTTE0LjMwNjcsNy4zNjg1OTM1IEMxNC4zMDY3LDExLjQzODUwNzEgMTEuMTAzNywxNC43MzY4NzggNy4xNTM3LDE0LjczNjg3OCBDMy4yMDI3LDE0LjczNjg3OCAtMC4wMDAzLDExLjQzODUwNzEgLTAuMDAwMyw3LjM2ODU5MzUgQy0wLjAwMDMsMy4yOTg2Nzk5IDMuMjAyNywwLjAwMDMwOTAyOTEyNiA3LjE1MzcsMC4wMDAzMDkwMjkxMjYgQzExLjEwMzcsMC4wMDAzMDkwMjkxMjYgMTQuMzA2NywzLjI5ODY3OTkgMTQuMzA2Nyw3LjM2ODU5MzUgTDE0LjMwNjcsNy4zNjg1OTM1IFoiIGlkPSJTdHJva2UtMSI+PC9wYXRoPiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTcuMDcxNiwxNy40OTk1OTgzIEwxMi4zODk2LDEyLjY3NjY4MzgiIGlkPSJTdHJva2UtMyI+PC9wYXRoPiAgICAgICAgICAgIDwvZz4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position-y: center;
  width: 100%;
  min-height: 36px;
  border-radius: 100px;
  border: none;
  background-color: #ffffff;
  padding-left: 40px;
  font-size: 18px;
}
.keys-list-container .search-input-wrapper .search-input:focus {
  border-bottom: 2px solid rgba(0, 122, 204, 0.8);
}
.keys-list-container .search-input-wrapper .search-input:disabled {
  border-color: #bcbcbc;
}
.keys-list-container .search-input-wrapper .search-input:focus {
  border: none;
}
.keys-list-container .key-link-wrapper {
  display: flex;
  flex-grow: 1;
}
.keys-list-container .key-link-wrapper .key-link {
  color: white;
  font-size: 14px;
  padding-top: 6px;
  display: block;
  height: 25px;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
}
.keys-list-container .key-link-wrapper .key-link:hover {
  background-color: #363a3e;
  cursor: pointer;
}
.keys-list-container .key-link-wrapper .key-link:active {
  background-color: #363a3e;
}
.keys-list-container .key-link-wrapper .key-link.selected {
  background-color: #686e74;
}
.keys-nav {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 400px;
  min-width: 400px;
}
.keys-nav::-webkit-scrollbar {
  width: 12px;
}
.keys-nav::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #bcbbbb;
  border: 3px solid #3a3e41;
}
.keys-nav::-webkit-scrollbar-track {
  background-color: #3a3e41;
  border-radius: 6px;
}
.key-folder {
  width: 100%;
}
.key-folder .key-folder-name {
  font-size: 16px;
  display: flex;
  flex-grow: 1;
  height: 30px;
  padding-left: 5px;
  padding-top: 13px;
  color: #d8d8d8;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.key-folder .key-folder-name:hover {
  cursor: pointer;
  background-color: #363a3e;
}
.key-folder .key-folder-name:active {
  background-color: #363a3e;
}
.key-folder .number-of-folder-keys {
  font-size: 11px;
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0.7;
}
.key-folder .number-of-folder-keys:hover {
  cursor: pointer;
}
.key-folder .key-folder-icon {
  width: 16px;
  margin-right: 5px;
  margin-bottom: 10px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}
.key-folder .key-folder-icon:hover {
  cursor: pointer;
}
.key-folder .folder-items {
  display: flex;
  flex-grow: 1;
}
.key-folder .sub-tree {
  display: flex;
  flex-grow: 1;
}
.search-results {
  width: 100%;
}
.search-results .key-card {
  border-radius: 7px;
  border: 2px solid grey;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
.search-results .key-card a {
  display: block;
  min-height: 80px;
  max-height: 160px;
  text-decoration: none;
  color: #515c66;
  font-size: 12px;
}
.search-results .key-card .title {
  font-size: 16px;
  display: inline-block;
  color: #515c66;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
.search-results .key-card .tag {
  font-size: 10px;
  border-radius: 10px;
  background-color: green;
  display: inline-block;
  padding: 4px;
  margin: 0 2px;
  color: white;
  vertical-align: middle;
}
.search-results .key-card .path {
  margin-top: 4px;
  font-size: 10px;
  color: #a5a5a5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
.search-results .key-card .description {
  margin-top: 4px;
}
.search-results .key-card.selected {
  border-color: #363a3e;
  background-color: #eee ;
}
