---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.site-header{
		background-color: #009fda;
		color:white;
		border: none;
		height: 70px;
		min-height: 70px;
		position: relative;
		text-align: center;
		.site-title {
			float:none;
		}

		.logo{
			    height: 70px;
					width: 200px;
					background-image: url(./logo.svg);
					background-repeat: no-repeat;
					background-position: center;
					margin: 0 auto;
		}
}

body{
	background-color:#eee;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.page-content {
	overflow-y: auto;
	flex-grow: 1;
	padding: 20px;
	position: relative;
}

.mobile-menu{
	display: none !important;
	font-size: 40px;
	color: #00506D;
	position: absolute;
	top: 14px;
	left: 16px;
    @media only screen and (max-width: 768px) {
		display: block !important;	
	}
}

.side-menu{
	@media only screen and (max-width: 768px) {
		 &.open{
			 display: block;
		 }
		 display: none;
	}
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 12px;
		 }
		 &::-webkit-scrollbar-thumb {
			border-radius: 6px;
			background-color: #bcbbbb;
			border: 3px solid #3a3e41;
		 }
		 &::-webkit-scrollbar-track {
			background-color: #3a3e41;
			border-radius: 6px;
		 }

		.group-sep{
			background-color:#3A3A3A;
			text-align:center;
			line-height: 30px;
			color: #eee;
		}
		min-width: 350px;
		background-color:#414b53;
		ul{
			margin: 0;
		}
		ul li{
			list-style: none;
			padding-left: 10px;
		}
	  .folder-container{
		  .dir-item{
			text-transform: capitalize;
			font-size: 16px;
			height: 30px;
			cursor: pointer;
			padding-top: 10px;
			color: #d8d8d8;
			background-color: transparent;
			font-size: 16px;
		  }
		  ul{
			  max-height: 0;
 			  transition: max-height 0.2s cubic-bezier(0,1,0,1);
			  overflow: hidden;
		  }
		  > .dir-item {
				> i::before{
					content: '\f07b'
				}
				> span {
					margin-left: 6px;
				}
			}
		  &.open{
			  	> .dir-item{
					> i::before{
						content: '\f07c'
					}
					> span {
						margin-left: 4px;
					}
				  }
				> ul{
 			  		transition: max-height 0.2s cubic-bezier(1,0,1,0);
					max-height: 9999px;
				}
			}

		  &.notransition {
			ul{
				transition: none !important;
			}
		}
		
	  }
	 .page-item{
			display: block;	 
			font-size: 16px;
			height: 30px;
			padding-top: 8px;
			display: block;
			color: #d8d8d8;
			text-decoration: none;
			background-color: transparent;
			&.selected{
				color: #009fda;
			}
	 }
}
