@import (reference) "./core/core.less";
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.select-key-message {
  .centered-message;
}

h3{
    font-size: 22px;
    color: #515c66;
    margin-left: 4px;
    margin-bottom: 4px;
}